<!DOCTYPE html>
<html lang="es"> 
	<head>
		<meta charset="utf-8">
		<title>Organizador título texto imagen-audio-vídeo</title>
		<meta name="description" content="description">
		<meta name="keywords" content="Keywords">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/org_tit_txt_img.css" rel="stylesheet">
		<link rel="shortcut icon" href="#">
	</head>
	<body>
		<div class="orgTitTxtImg">
			<div class="orgTitTxtImg-contenMedia">
				<!-- imagen -->
				<div class="orgTitTxtImg-contenImg">
					<img class="orgTitTxtImg-img orgTitTxtImg-media" src="http://i.infopls.com/images/Father_Son_Homework_Preparing_H.jpg" alt="image"/>
				</div>
				<!-- audio -->
				<audio controls class="orgTitTxtImg-audio orgTitTxtImg-media" width="100%">
				  <source src="audio/audio1.ogg" type="audio/ogg">
				  <source src="audio/audio1.mp3" type="audio/mpeg">
					Tu navegador no soporta audio html5.
				</audio>
				<!-- vídeo -->
				<video class="orgTitTxtImg-video orgTitTxtImg-media" width="100%" controls>
				  <source src="video/video1.mp4" type="video/mp4";>
				  <source src="video/video1.ogv" type="video/ogg">
				  Tu navegador no soporta vídeo html5.
				</video>
			</div>
			<div class="orgTitTxtImg-contenTxt">
				<div class="orgTitTxtImg-txt">
					<h3>Lorem ipsum dolor sit amet 1</h3>
					<p>consectetur adipiscing elit. Morbi eget bibendum nunc. Suspendisse ultricies porta erat, ornare cursus metus euismod nec. Vestibulum facilisis eu arcu in tristique. Aliquam ac enim lobortis, placerat eros in, interdum mauris. Vestibulum eget porta metus, non ornare velit.</p>
				</div>
			</div>
		</div>
		<!-- / -->
	</body>
</html>

