<!DOCTYPE html>
<html lang="es"> 
	<head>
		<meta charset="utf-8">
		<title>Organizador Acordeón</title>
		<meta name="description" content="description">
		<meta name="keywords" content="Keywords">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/org_aco.css" rel="stylesheet">
		<link rel="shortcut icon" href="#">
	</head>
	<body>
		<div class="org_aco-content">
			<div class="rg_aco-text">
				Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente
				texto aleatorio. Tiene sus raices en una pieza cl ́sica de la literatura del Latin, que
				data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de
				antiguedad. Richard McClintock, un profesor de Latin.
				<br/><br/>
				<b>Instrucción:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat elit
				quis velit dictum, eget ultricies ante ultricies.
			</div>
			<div class="acordeon">
				<!-- 1 -->
				<div class="acordeon-btn" tabindex="0"><div class="acordeon-btn-text">Opción 1</div></div>
				<div class="acordeon-container">
					<div class="acordeon-container-info">
						<img class="acordeon-container-info-img" src="http://i.infopls.com/images/Father_Son_Homework_Preparing_H.jpg" alt="image"/>
						<div class="acordeon-container-info-text">
							Texto 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sit nobis consectetur reiciendis quidem nulla dolores laudantium officiis adipisci, fuga magni, suscipit explicabo alias omnis maxime quos totam ipsa tempora.
						</div>
					</div>
				</div>
				<div class="acordeon-btn" tabindex="0"><div class="acordeon-btn-text">Opción 2</div></div>
				<div class="acordeon-container">
					<div class="acordeon-container-info">
						<img class="acordeon-container-info-img" src="http://i.infopls.com/images/Father_Son_Homework_Preparing_H.jpg" alt="image"/>
						<div class="acordeon-container-info-text">
							Texto 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sit nobis consectetur reiciendis quidem nulla dolores laudantium officiis adipisci, fuga magni, suscipit explicabo alias omnis maxime quos totam ipsa tempora.
						</div>
					</div>	
				</div>
				<div class="acordeon-btn" tabindex="0"><div class="acordeon-btn-text">Opción 3</div></div>
				<div class="acordeon-container">
					<div class="acordeon-container-info">
						<img class="acordeon-container-info-img" src="http://i.infopls.com/images/Father_Son_Homework_Preparing_H.jpg" alt="image"/>
						<div class="acordeon-container-info-text">
							Texto 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sit nobis consectetur reiciendis quidem nulla dolores laudantium officiis adipisci, fuga magni, suscipit explicabo alias omnis maxime quos totam ipsa tempora.
						</div>
					</div>	
				</div>
				<div class="acordeon-btn" tabindex="0"><div class="acordeon-btn-text">Opción 4</div></div>
				<div class="acordeon-container">
					<div class="acordeon-container-info">
						<img class="acordeon-container-info-img" src="http://i.infopls.com/images/Father_Son_Homework_Preparing_H.jpg" alt="image"/>
						<div class="acordeon-container-info-text">
							Texto 4: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sit nobis consectetur reiciendis quidem nulla dolores laudantium officiis adipisci, fuga magni, suscipit explicabo alias omnis maxime quos totam ipsa tempora.
						</div>
					</div>	
				</div>
				<div class="acordeon-btn seleccionado" tabindex="0"><div class="acordeon-btn-text">Opción 4</div></div>
				<div class="acordeon-container">
					<div class="acordeon-container-info">
						<img class="acordeon-container-info-img" src="http://i.infopls.com/images/Father_Son_Homework_Preparing_H.jpg" alt="image"/>
						<div class="acordeon-container-info-text">
							Texto 4: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sit nobis consectetur reiciendis quidem nulla dolores laudantium officiis adipisci, fuga magni, suscipit explicabo alias omnis maxime quos totam ipsa tempora.
						</div>
					</div>	
				</div>
			</div>
		</div>
	</body>
</html>

