<!DOCTYPE html>
<html lang="es"> 
	<head>
		<meta charset="utf-8">
		<title>Organizador con botonera de números</title>

		<meta name="description" content="description">
		<meta name="keywords" content="Keywords">
		<meta name="author" content="">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link href="css/org_esf_num.css" rel="stylesheet">
		<link rel="shortcut icon" href="#">

	</head>
	<body>
		<div class="orgEsfNum">
			<div class="orgEsfNum-contBtns orgEsfNum-contBtns--6btns">
				<div class="orgEsfNum-col orgEsfNum-col1">
					<div class="orgEsfNum-btn active">i</div>
					<div class="orgEsfNum-btn">i</div>
				</div>
				<div class="orgEsfNum-col orgEsfNum-col2">
					<div class="orgEsfNum-btn">i</div>
					<div class="orgEsfNum-btn">i</div>
				</div>
				<div class="orgEsfNum-col orgEsfNum-col3">
					<div class="orgEsfNum-btn">i</div>
					<div class="orgEsfNum-btn">i</div>
				</div>
				<div class="orgEsfNum-col orgEsfNum-col4">
					<div class="orgEsfNum-btn">i</div>
				</div>
			</div>
			<div class="orgEsfNum-contTxts">
				<div class="orgEsfNum-txt">
					<h3>Lorem ipsum dolor sit amet 1</h3>
					<p>consectetur adipiscing elit. Morbi eget bibendum nunc. Suspendisse ultricies porta erat, ornare cursus metus euismod nec. Vestibulum facilisis eu arcu in tristique. Aliquam ac enim lobortis, placerat eros in, interdum mauris. Vestibulum eget porta metus, non ornare velit.</p>
				</div>
			</div>
		</div>
	</body>
</html>

