<!DOCTYPE html>
<html lang="es"> 
	<head>
		<meta charset="utf-8">
		<title>Organizador título texto imagen-audio-vídeo</title>
		<meta name="description" content="description">
		<meta name="keywords" content="Keywords">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/org_txt_img_gra.css" rel="stylesheet">
		<link rel="shortcut icon" href="#">
	</head>
	<body>
		<div class="orgTxtImgGrande">
			<!-- imagen -->
			<div class="orgTxtImgGrande-contenImg">
				<img class="orgTxtImgGrande-img orgTxtImgGrande-media" src="http://www.pedus.org/images/education-500.jpg" alt="image"/>
			</div>
			<!-- txt -->
			<div class="orgTxtImgGrande-contenTxt">
				<div class="orgTxtImgGrande-txt">
					<p>consectetur adipiscing elit. Morbi eget bibendum nunc. Suspendisse ultricies porta erat, ornare cursus metus euismod nec. Vestibulum facilisis eu arcu in tristique. Aliquam ac enim lobortis, placerat eros in, interdum mauris. Vestibulum.</p>
				</div>
			</div>
		</div>
	</body>
</html>

