<div class="og_preguntas">
    <div class="portada" ng-show="isSet(0)" ng-init="tab = 0">
        <!-- TITULO -->
        <div class="title_container">
            <div pt-icono="'preguntas_conocimiento'"></div>

            <div class="title_title_text">
                <h1>Preguntas de Conocimiento</h1>
            </div>

        </div>

        <div class="instrucciones">
            <p><strong>Verifique la apropiación de los saberes que hemos estudiado en este tema respondiendo a las siguientes preguntas.</strong></p>

            <p><i>Instrucciones:</i></p>

            <ul>
                <li>A continuación usted podrá encontrar alguno(s) de los siguientes tipos de preguntas: opción múltiple, verdadero/falso o de selección.</li>
                <li>Lea cada pregunta cuidadosamente, revise todas las opciones y elija la respuesta que considere correcta.</li>
                <li>Después de elegir la respuesta  haga clic en la flecha para continuar a la siguiente pregunta.</li>
                <li>En la última pregunta se habilitará el botón <strong>Enviar</strong>.</li>
            </ul>
        </div>

        <div class="recuerde">
            <p class="center"><strong>Recuerde:</strong></p>
            <br>
            <p class="center">Responda <strong>todas las preguntas</strong> antes de hacer clic en el botón de <strong>Enviar</strong></p>
        </div>

        <div class="boton">
            <button class="button_simple" ng-click="setTab(1)">
                <span class="button_simple_text">Inicio</span>
            </button>
        </div>
    </div>
    
    <div class="cont_preguntas" ng-hide="isCover()">
        <div class="pregunta" ng-repeat="(key, tab) in tabs" ng-show="isSet(key)" pt-new-tab="tab.chain"></div>
        <div class="botonera">
            <div>
                <button class="button_simple">
                    <span class="button_simple_text">Enviar</span>
                </button>
                
                <div class="paginacion">
                    <span class="transfe_font" ng-class="setPrevArrowActive()" ng-click="subtractTab()"><</span>
                    <div class="conteo"><span>{{tab}} de {{cantTabs}}</span></div>
                    <span class="transfe_font" ng-class="setNextArrowActive()" ng-click="addTab()">></span>
                </div>
            </div>
        </div>
    </div>
</div>