<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Generador Transferencia</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/componenetes/layouts.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/organizadores_gabriel.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/organizadores_luis.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/organizadores_santiago.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/popup.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/organizadores_urlieson.css" rel="stylesheet" type="text/css"/>        
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/actividades.css" rel="stylesheet" type="text/css"/>        
        <link href="css/video-js.css" rel="stylesheet">
        <link href="css/owl.carousel.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/hover.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-app="plantilla-transferencia">
        <header ng-controller="Initialize as initz">
            <div>
                <h1>Tema {{initz.config.tema.numero}}. {{initz.config.tema.nombre}}</h1>
                <input type="button" value="W" class="closed">
            </div>
            <div>
                <p>
                    <span id="unit_span"> Unidad {{initz.config.unidad.numero}} &nbsp;</span>
                    <span>{{initz.config.unidad.nombre}} &nbsp;</span>
                    <span class="icon_arrow_ed_s">></span>
                    <span id="lesson_span">Lección {{initz.config.leccion.numero}} &nbsp;</span> 
                    <span>{{initz.config.leccion.nombre}}</span>
                </p>
            </div>
            <ul>
                <li class="fullScreen_off"><span>Fullscreen</span><p>A</p></li>
                <li><span>Créditos</span><p>B</p></li>
                <li><span>Ayuda</span><p>E</p></li>
                <li><span>Información</span><p>F</p></li>
                <li><span>Accesibilidad</span><p>C</p></li>
            </ul>
            <img src="img/logo_sena.svg" title="sena"/>
        </header>

        <div id="content_container">
        </div>

        <footer ng-controller="Paginacion as pag">
            <div id="left_buttons">
                <input type="button" value="a" ng-click="cambiar_pagina(1)">                
                <input type="button" value="g">
                <span class="divition_bot_span"></span>
                <input type="button" value="i">
            </div>
            <div id="center_buttons" ng-show="{{pag.actual>=1}}">
                <input type="button" value="<" ng-click="ant_pagina()">
                <p>{{pag.actual}}</p>
                <input type="button" value=">" ng-click="sgte_pagina()">
                <ul id="smart_menu">
                    <li><p>PDF<span class="icon_arrow_ed_s">k</span></p></li>
                    <li><p>Mapa<span class="icon_arrow_ed_s">j</span></p></li>
                    <li><p>Glosario<span class="icon_arrow_ed_s">i</span></p></li>
                    <li><p>Bibliografía<span class="icon_arrow_ed_s">g</span></p></li>
                    <li><p>Indice<span class="icon_arrow_ed_s">q</span></p></li>
                </ul>
            </div>
            <div id="right_buttons">                
                <input type="button" value="j">
                <span class="divition_bot_span"></span>
                <input type="button" value="k">
                <input type="button" value="-" class="closed">
            </div>
        </footer>
        
        <section id="popups">            
            
            <div class="popup activado">
            
                <!-- Pop-Up Accesibilidad -->
                <div id="popup_accesibilidad" class="popup-contenedor">
                    <div class="popup-header">
                        <div class="popup-icono transfe_font">C</div>
                        <div class="popup-titulo">Accesibilidad</div>
                        <div class="popup-btnCerrar transfe_font">x</div>
                    </div>
                    <div class="popup-contenido">
                        <!-- Espacio del PDF -->
                        <div class="accesibilidad-texto1">Ayudas para discapacidad visual</div>
                        <div class="accesibilidad-texto2">
                            <b>Instrucciones:</b> Haga clic en el ícono para descargar el PDF
                        </div>
                        <div class="accesibilidad-imagen"><a href="#"><img src="img/pdf_icon-popup.png" alt=""/></a></div>
                    </div>
                    
                </div>
            
                <!-- Pop-Up Mapa Conceptual -->
                <div  id="popup_mapa_conceptual" class="popup-contenedor">
                    <div class="popup-header">
    			<div class="popup-icono transfe_font">j</div>
                        <div class="popup-titulo">Mapa conceptual</div>
			<div class="popup-btnCerrar transfe_font">x</div>
                 </div>
                    <div class="popup-contenido">
			<!-- Espacio del mapa conceptual -->
			<div class="mapa-texto1">Descargue el mapa conceptual</div>
                        <div class="mapa-texto2">
                            <b>Instrucciones:</b> Haga clic en el ícono para descargar el PDF
                        </div>
                        <div class="mapa-imagen"><a href="#" class="transfe_font">j</a></div>
                        <!-- / -->
                    </div>
		</div>
                
                <!-- Pop-Up informacion -->
                <div id="popup_informacion" class="popup-contenedor">
                    <div class="popup-header">
                        <div class="popup-icono transfe_font">F</div>
			<div class="popup-titulo">Información</div>
			<div class="popup-btnCerrar transfe_font">x</div>
                    </div>
                    <div class="popup-contenido">
                        <!-- Espacio de para la ayuda -->
                        <div class="informacion">
                            <div class="informacion-texto">
                                Copyright ©SENA 2015.<br/>
                                Licenciado para Colombia por el Servicio Nacional de Aprendizaje SENA.
                            </div>
			</div>
			<!-- / -->
                    </div>
		</div
                
                <!-- Pop-Up ayuda -->
                <div id="popup_ayuda" class="popup-contenedor">
                    <div class="popup-header">
                        <div class="popup-icono transfe_font">E</div>
			<div class="popup-titulo">Ayuda</div>
			<div class="popup-btnCerrar transfe_font">x</div>
                    </div>
                    <div class="popup-contenido">
                        <!-- Espacio de para la ayuda -->
                            <div class="mapa-texto1">Descargue el PDF de ayuda</div>
                            <div class="mapa-texto2">
                                <b>Instrucciones:</b> Haga clic en el ícono para descargar el PDF
                            </div>
                        <div class="mapa-imagen"><a href="#" class="transfe_font">E</a></div>
			<!-- / -->
                    </div>
		</div>
            
                <!-- Pop-Up Glosario -->
                <div id="popup_glosario" class="popup-contenedor">
                    <div class="popup-header">
			<div class="popup-icono transfe_font">i</div>
			<div class="popup-titulo">Glosario</div>
			<div class="popup-btnCerrar transfe_font">x</div>
                   </div>
                    <div class="popup-contenido">
			<!-- Espacio del glosario -->
			<!-- item1 -->
			<div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <b> Ambiente virtual de aprendizaje (AVA):</b>De acuerdo con López (2002), el ambiente virtual de aprendizaje es “un conjunto de entornos de interacción, sincrónica y asincrónica, donde, con base en un programa curricular, se lleva a cabo el proceso enseñanza-aprendizaje, a través de un sistema de administración de aprendizaje” (Como se citó en López, 2014).
                            </div>
			</div>
			<!-- item2 -->
			<div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
				<b>Ambiente virtual de aprendizaje (AVA):</b>De acuerdo con López (2002), el ambiente virtual de aprendizaje es “un conjunto de entornos de interacción, sincrónica y asincrónica, donde, con base en un programa curricular, se lleva a cabo el proceso enseñanza-aprendizaje, a través de un sistema de administración de aprendizaje” (Como se citó en López, 2014).
                            </div>
			</div>
			<!-- item2 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
				<b>Ambiente virtual de aprendizaje (AVA):</b>De acuerdo con López (2002), el ambiente virtual de aprendizaje es “un conjunto de entornos de interacción, sincrónica y asincrónica, donde, con base en un programa curricular, se lleva a cabo el proceso enseñanza-aprendizaje, a través de un sistema de administración de aprendizaje” (Como se citó en López, 2014).
                            </div>
			</div>
			<!-- item3 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <b>Ambiente virtual de aprendizaje (AVA):</b>De acuerdo con López (2002), el ambiente virtual de aprendizaje es “un conjunto de entornos de interacción, sincrónica y asincrónica, donde, con base en un programa curricular, se lleva a cabo el proceso enseñanza-aprendizaje, a través de un sistema de administración de aprendizaje” (Como se citó en López, 2014).
                            </div>
                        </div>
                        <!-- item4 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <b>Ambiente virtual de aprendizaje (AVA):</b>De acuerdo con López (2002), el ambiente virtual de aprendizaje es “un conjunto de entornos de interacción, sincrónica y asincrónica, donde, con base en un programa curricular, se lleva a cabo el proceso enseñanza-aprendizaje, a través de un sistema de administración de aprendizaje” (Como se citó en López, 2014).
                            </div>
                        </div>
                        <!-- item5 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <b>Ambiente virtual de aprendizaje (AVA):</b>De acuerdo con López (2002), el ambiente virtual de aprendizaje es “un conjunto de entornos de interacción, sincrónica y asincrónica, donde, con base en un programa curricular, se lleva a cabo el proceso enseñanza-aprendizaje, a través de un sistema de administración de aprendizaje” (Como se citó en López, 2014).
                            </div>
                        </div>
                        <!-- / -->
                    </div>
                </div>
                
                <!-- Pop-Up Créditos -->
                <div id="popup_creditos" class="popup-contenedor">
                    <div class="popup-header">
                        <div class="popup-icono transfe_font">B</div>
                        <div class="popup-titulo">Créditos</div>
                        <div class="popup-btnCerrar transfe_font">x</div>
                    </div>
                    <div class="popup-contenido">
                        <!-- Espacio de créditos -->
                        <div class="creditos-texto">
                            <strong>Servicio Nacional de Aprendizaje SENA</strong>
                            <br/>
                            <br/>
                            <br/>
                            <strong>Director General</strong>
                            <br/>
                            Alfonso Prada Gil
                            <br/>
                            <br/>
                            <strong>Secretario General</strong>
                            <br/>
                            Milton Nuñez Paz
                            <br/>
                            <br/>
                            <strong>Director del Sistema Nacional de Formación para el Trabajo</strong>
                            <br/>
                            Juan Manuel Valdés Barcha
                            <br/>
                            <br/>
                            <strong>Director de Promoción y Relaciones Corporativas</strong>
                            <br/>
                            Juan Pablo Castro Morales
                            <br/>
                            <br/>
                            <strong>Directora de Empleo, Trabajo y Emprendimiento</strong>
                            <br/>
                            María Andrea Nieto Romero
                            <br/>
                            <br/>
                            <strong>Director de Formación Profesional Integral</strong>
                            <br/>
                            Mauricio Alvarado Hidalgo
                            <br/>
                            <br/>
                            <strong>Directora Administrativa y Financiera</strong>
                            <br/>
                            Piedad Jiménez Montoya
                            <br/>
                            <br/>
                            <strong>Director Jurídico</strong>
                            <br/>
                            Juan Pablo Arenas Quiroz
                            <br/>
                            <br/>
                            <strong>Director de Planeación y Direccionamiento Corporativo</strong>
                            <br/>
                            Iván Ernesto Rojas Guzmán
                            <br/>
                            <br/>
                            <strong>Jefe Oficina de Control Interno</strong>
                            <br/>
                            Raúl Eduardo González Garzón
                            <br/>
                            <br/>
                            <strong>Jefa de la Oficina de Control Interno Disciplinario</strong>
                            <br/>
                            Dora Milena García Moreno
                            <br/>
                            <br/>
                            <strong>Jefe de la Oficina de Sistemas</strong>
                            <br/>
                            Carlos César Jiménez Aponte
                            <br/>
                            <br/>
                            <strong>Jefe de la Oficina de Comunicaciones</strong>
                            <br/>
                            Melba Pinto Gualdrón
                            <br/>
                            <br/>
                            <strong>Coordinador del Grupo Gestión Operativa Integral de la Formación en Modalidad Presencial</strong>
                            <br/>
                            Mario Javier Rincón Triana
                            <br/>
                            <br/>
                            <strong>Gerente Programa de Bilingüismo SENA</strong>
                            <br/>
                            Olga Lucía Riveros Gaona
                            <br/>
                            <br/>
                            <strong>Asesor de contenidos educativos Programa de Bilingüismo SENA Coordinador del proyecto</strong>
                            <br/>
                            Mauricio Ríos Delgado
                            <br/>
                            <br/>
                            <strong>Asesor técnico de programación e ingeniería del proyecto Programa de Bilingüismo SENA</strong>
                            <br/>
                            William Augusto Duque Villalba
                            <br/>
                            <br/>
                            <strong>Asesora pedagógica y curricular del proyecto Programa de Bilingüismo SENA</strong>
                            <br/>
                            Dayana Cortés Medina
                            <br/>
                            <br/>
                            <strong>Asesora pedagógica Programa de Bilingüismo</strong>
                            <br/>
                            Astrid Oliveros López
                            <br/>
                            <br/>
                            <br/>
                            <strong>Mireco Group</strong>
                            <br/>
                            <br/>
                            <br/>
                            <strong>Diseñadora Instruccional</strong>
                            <br/>
                            Paola Cruz Espinosa<br/>
                            Emanuel Diaz Palencia<br/>
                            Oscar Reyes Coral<br/>
                            <br/>
                            <br/>
                            <strong>Diseñador grafico</strong>
                            <br/>
                            Edwin Diaz Pinzon<br/>
                            Johanna Duarte Diaz<br/>
                            <br/>
                            <br/>
                            <strong>Realizador Audiovisual</strong>
                            <br/>
                            Carolina Nova Torres<br/>
                            Alejandro Gonzalez Pulecio<br/>
                            <br/>
                            <br/>
                            <strong>Desarrollador Mutimedia</strong>
                            <br/>
                            Diana Bejarano Bejarano<br/>
                            Andres Segura Baron<br/>
                            Yinet Rodriguez Lopez<br/>
                            Viviana Jimenez Mayor<br/>
                            <br/>
                            <br/>
                            <strong>Diseñadora Virtual</strong>
                            <br/>
                            Diana Duque Avendaño
                            <br/>
                            <br/>
                            <strong>Director de Proyecto</strong>
                            <br/>
                            Liliana Pinzon Forero
                            <br/>
                            <br/>
                            <strong>Director Operativo</strong>
                            <br/>
                            Carlos Cabra Reyes
                            <br/>
                            <br/>
                            <strong>Gerente General</strong>
                            <br/>
                            Myriam Reyes Coral
                            <br/>
                            <br/>
                            <br/>
                            <strong>eDistribution</strong>
                            <br/>
                            <br/>
                            <br/>
                            <strong>Autores</strong>
                            <br/>
                            <br/>
                            Claudia Milena Pérez Guerrero<br/>
                            Diana Marcela Herrera Torres<br/>
                            Kelly Dainne Puentes Velasco<br/>
                            William Fernando Guerra Borrero<br/>
                            Alba Lucía Beltrán Poveda<br/>
                            <br/>                            
                        </div>
                        <!-- / -->
                    </div>
                </div
                
                <!-- Pop-Up PDF -->
                <div  id="popup_PDF" class="popup-contenedor">
                    <div class="popup-header">
    			<div class="popup-icono transfe_font">k</div>
                        <div class="popup-titulo">PDF</div>
			<div class="popup-btnCerrar transfe_font">x</div>
                 </div>
                    <div class="popup-contenido">
			<!-- Espacio del mapa conceptual -->
			<div class="mapa-texto1">Descargue el PDF</div>
                        <div class="mapa-texto2">
                            <b>Instrucciones:</b> Haga clic en el ícono para descargar el PDF
                        </div>
                        <div class="mapa-imagen"><a href="#" class="transfe_font">k</a></div>
                        <!-- / -->
                    </div>
		</div>

                <!-- Pop-Up Bibliografía -->
                <div id="popup_bibliografia" class="popup-contenedor">
                    <div class="popup-header">
                        <div class="popup-icono transfe_font">g</div>
                        <div class="popup-titulo">Bibliografía</div>
                        <div class="popup-btnCerrar transfe_font">x</div>
                    </div>
                    <div class="popup-contenido">
                        <!-- Espacio de la bibliografia -->
                        <!-- item1 -->
                        <div class="bibliografia-item">
                            <div class="bibliografia-item-vineta"></div>
                            <div class="bibliografia-item-texto">
                                <b>Ambiente virtual de aprendizaje (AVA):</b> De acuerdo con López (2002), el ambiente virtual de aprendizaje es “un conjunto de entornos de interacción, sincrónica y asincrónica, donde, con base en un programa curricular, se lleva a cabo el proceso enseñanza-aprendizaje, a través de un sistema de administración de aprendizaje” (Como se citó en López, 2014).
                            </div>
                        </div>
                        <!-- item2 -->
                        <div class="bibliografia-item">
                            <div class="bibliografia-item-vineta"></div>
                            <div class="bibliografia-item-texto">
                                <b>Ambiente virtual de aprendizaje (AVA):</b> De acuerdo con López (2002), el ambiente virtual de aprendizaje es “un conjunto de entornos de interacción, sincrónica y asincrónica, donde, con base en un programa curricular, se lleva a cabo el proceso enseñanza-aprendizaje, a través de un sistema de administración de aprendizaje” (Como se citó en López, 2014).
                            </div>
                        </div>
                        <!-- item3 -->
                        <div class="bibliografia-item">
                            <div class="bibliografia-item-vineta"></div>
                            <div class="bibliografia-item-texto">
                                <b>Ambiente virtual de aprendizaje (AVA):</b> De acuerdo con López (2002), el ambiente virtual de aprendizaje es “un conjunto de entornos de interacción, sincrónica y asincrónica, donde, con base en un programa curricular, se lleva a cabo el proceso enseñanza-aprendizaje, a través de un sistema de administración de aprendizaje” (Como se citó en López, 2014).
                            </div>
                        </div>
                        <!-- item4 -->
                        <div class="bibliografia-item">
                            <div class="bibliografia-item-vineta"></div>
                            <div class="bibliografia-item-texto">
                                <b>Ambiente virtual de aprendizaje (AVA):</b> De acuerdo con López (2002), el ambiente virtual de aprendizaje es “un conjunto de entornos de interacción, sincrónica y asincrónica, donde, con base en un programa curricular, se lleva a cabo el proceso enseñanza-aprendizaje, a través de un sistema de administración de aprendizaje” (Como se citó en López, 2014).
                            </div>
                        </div>
                        <!-- item5 -->
                        <div class="bibliografia-item">
                            <div class="bibliografia-item-vineta"></div>
                            <div class="bibliografia-item-texto">
                                <b>Ambiente virtual de aprendizaje (AVA):</b> De acuerdo con López (2002), el ambiente virtual de aprendizaje es “un conjunto de entornos de interacción, sincrónica y asincrónica, donde, con base en un programa curricular, se lleva a cabo el proceso enseñanza-aprendizaje, a través de un sistema de administración de aprendizaje” (Como se citó en López, 2014).
                            </div>
                        </div>
                        <!-- / -->
                    </div>
                </div>
                
                <!-- Pop-Up TABLA DE CONTENIDO -->
                <div id="popup_tabla_de_contenido" class="popup-contenedor">
                    <div class="popup-header">
                        <div class="popup-icono transfe_font">-</div>
                        <div class="popup-titulo">Contenido</div>
                        <div class="popup-btnCerrar transfe_font">x</div>
                    </div>
                    <div class="popup-contenido" id="popup_tbcontenido">
                        <div>
                            <h3> <span class="transfe_font icon_style_sensibilizacion_cierre">f</span>Iniciemos</h3> 
                            <br>
                            <h3><span class="transfe_font icon_style_sensibilizacion_apertura">b</span>Sensibilización de apertura</h3>       
                            <br>
                            <h3><span class="transfe_font icon_style_contextualizacion">h</span>Contextualización: Ambientes de aprendizaje</h3>
                            <br>
                            <h3><span class="transfe_font icon_style_contenidos">c</span> Contenidos</h3>
                            
                            <ol>                    
                                <li><h5><span>Modalidades de formación.</span></h5></li>
                                <li><h5><span>Ambientes presencial y virtual.</span></h5></li>
                                <li><h5><span>Planeación de clase en estos ambientes.</span></h5></li>                                   
                            </ol>
                            
                            <h3><span class="transfe_font icon_style_recordemos">d</span>Recordemos</h3> 
                            <br>
                            <h3> <span class="transfe_font icon_style_sensibilizacion_cierre">f</span>Sensibilización de cierre</h3> 
                            <br>
                            <h3> <span class="transfe_font icon_style_preguntas_conocimiento">e</span>Preguntas de conocimiento</h3> 
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        
        <script src="js/jquery-1.10.2.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/jquery.fullscreen.min.js" type="text/javascript"></script>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/audio.min.js" type="text/javascript"></script>
        <script src="js/main.js"></script>
        <script src="js/video-js.js"></script>
	<script src="js/videojs-ie8.min.js"></script>
        <script src="js/owl.carousel.min.js" type="text/javascript"></script>
        <script src="application/controller/layouts.js" type="text/javascript"></script>
        <script src="application/controller/organizadores.js" type="text/javascript"></script>
        <script src="application/controller/routes.js" type="text/javascript"></script>
        <script src="application/controller/system.js" type="text/javascript"></script>
        <script src="application/model/constantes.js" type="text/javascript"></script>
        <script src="application/model/services.js" type="text/javascript"></script>
        <script src="application/controller/actividades.js" type="text/javascript"></script>
        
        <script src="application/system/contenido.js" type="text/javascript"></script>
        <script src="application/system/datos_generales.js" type="text/javascript"></script>
        <script src="application/system/extras.js" type="text/javascript"></script>
    </body>
</html>
