<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Generador Transferencia</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/componenetes/layouts.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/organizadores_gabriel.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/organizadores_luis.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/organizadores_santiago.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/popup.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/organizadores_urlieson.css" rel="stylesheet" type="text/css"/>        
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/actividades.css" rel="stylesheet" type="text/css"/>        
        <link href="css/video-js.css" rel="stylesheet">
        <link href="css/owl.carousel.css" rel="stylesheet" type="text/css"/>
        <link href="css/componenetes/hover.css" rel="stylesheet" type="text/css"/>
        <link href="css/animate.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-app="plantilla-transferencia">
        <header ng-controller="Initialize as initz">
            <div>
                <h1>Tema {{initz.config.tema.numero}}. {{initz.config.tema.nombre}}</h1>
                <input type="button" value="W" class="closed">
            </div>
            <div>
                <p>
                    <span id="unit_span"> Unidad {{initz.config.unidad.numero}} &nbsp;</span>
                    <span>{{initz.config.unidad.nombre}} &nbsp;</span>
                    <span class="icon_arrow_ed_s">></span>
                    <span id="lesson_span">Lección {{initz.config.leccion.numero}} &nbsp;</span> 
                    <span>{{initz.config.leccion.nombre}}</span>
                </p>
            </div>
            <ul>
                <li class="fullScreen_off"><span>Fullscreen</span><p>A</p></li>
                <li><span>Créditos</span><p>B</p></li>
                <li><span>Ayuda</span><p>E</p></li>
                <li><span>Información</span><p>F</p></li>
                <li><span>Accesibilidad</span><p>C</p></li>
            </ul>
            <img src="img/logo_sena.svg" title="sena"/>
        </header>

        <div id="content_container">
        </div>

        <footer ng-controller="Paginacion as pag">
            <ul id="left_buttons">
                <li>
                    <input type="button" value="a" ng-click="cambiar_pagina(1)">
                    <span>Iniciemos</span>
                </li>
                <li>
                    <input type="button" value="g">
                    <span>Bibliografía</span>
                </li>
                <li>
                    <span class="divition_bot_span"></span>
                    <input type="button" value="i">
                    <span>Glosario</span>
                </li>
            </ul>
            <div id="center_buttons">
                <div>
                    <input id="anterior-pagina" type="button" ng-disabled="pag.checked" value="<" ng-click="ant_pagina()">
                    <span>Atrás</span>
                </div>
                <p id="icono-pagina">
                    <!--<span>{{pag.actual}}</span>-->                    
                </p>                
                <div>
                    <input id="siguiente-pagina" type="button" ng-disabled="pag.checked" value=">" ng-click="sgte_pagina()">
                    <span>Adelante</span>
                </div>
                <ul id="smart_menu">
                    <li><p>PDF<span class="icon_arrow_ed_s">k</span></p></li>
                    <li><p>Mapa<span class="icon_arrow_ed_s">j</span></p></li>
                    <li><p>Glosario<span class="icon_arrow_ed_s">i</span></p></li>
                    <li><p>Bibliografía<span class="icon_arrow_ed_s">g</span></p></li>
                    <li><p>Indice<span class="icon_arrayudaow_ed_s">q</span></p></li>
                </ul>
            </div>
            <ul id="right_buttons">
                <li>
                    <input type="button" value="j">
                    <span>Mapa conceptual</span>
                </li>
                <li>
                    <span class="divition_bot_span"></span>
                    <input type="button" value="k">
                    <span>Descargable</span>
                </li>
                <li>
                    <input type="button" value="-" class="closed">
                    <span>Contenido</span>
                </li>                
            </ul>
        </footer>
        
        <section id="popups">            
            
            <div class="popup activado">
            
                <!-- Pop-Up Accesibilidad -->
                <div id="popup_accesibilidad" class="popup-contenedor">
                    <div class="popup-header">
                        <div class="popup-icono transfe_font">C</div>
                        <div class="popup-titulo">Accesibilidad</div>
                        <div class="popup-btnCerrar transfe_font">x</div>
                    </div>
                    <div class="popup-contenido">
                        <div>
                            <h1>Ayudas para discapacidad visual</h1>
                            <p>Haga clic en el ícono para descargar el PDF</p>
                            <a href="#"><img src="img/pdf_icon-popup.png" alt=""/></a>
                        </div>
                    </div>
                    
                </div>
            
                <!-- Pop-Up Mapa Conceptual -->
                <div  id="popup_mapa_conceptual" class="popup-contenedor">
                    <div class="popup-header">
    			<div class="popup-icono transfe_font">j</div>
                        <div class="popup-titulo">Mapa conceptual</div>
			<div class="popup-btnCerrar transfe_font">x</div>
                 </div>
                    <div class="popup-contenido">
                        <div>
                            <h1>Mapa Conceptual</h1>
                            <p>Haga clic en el ícono para descargar el PDF</p>
                            <a href="#" class="transfe_font">j</a>
                        </div>                        
                    </div>
		</div>
                
                <!-- Pop-Up informacion -->
                <div id="popup_informacion" class="popup-contenedor">
                    <div class="popup-header">
                        <div class="popup-icono transfe_font">F</div>
			<div class="popup-titulo">Información</div>
			<div class="popup-btnCerrar transfe_font">x</div>
                    </div>
                    <div class="popup-contenido">
                        <p>
                            Copyright ©SENA 2015.<br/>
                            Licenciado para Colombia por el Servicio Nacional de Aprendizaje SENA.
                        </p>
                    </div>
		</div
                
                <!-- Pop-Up ayuda -->
                <div id="popup_ayuda" class="popup-contenedor">
                    <div class="popup-header">
                        <div class="popup-icono transfe_font">E</div>
                        <div class="popup-titulo">Ayuda</div>
                        <div class="popup-btnCerrar transfe_font">x</div>
                    </div>
                    <div class="popup-contenido">
                        <!-- Espacio de para la ayuda -->
                        <ul>
                            <li>
                                <div>
                                    <span class="button_portada_text transfe_font color_txthelp">a</span>
                                </div>
                                <div>
                                    <p>
                                        <strong> Iniciemos:</strong> botón que permite regresar a la portada del curso.
                                    </p>
                                </div>                                
                            </li>
                            <li>
                                <div>
                                    <span class="transfe_font color_txthelp">g</span>
                                </div>
                                <div>
                                    <p>
                                        <strong> Bibliografía:</strong> lista que incluye la información bibliográfica de los documentos referenciados y los consultados para la elaboración del contenido.
                                    </p>
                                </div>                                 
                            </li>
                            <li>
                                <div>
                                    <span class="transfe_font color_txthelp">i</span>
                                </div>
                                <div>
                                    <p>
                                        <strong> Glosario:</strong> listado de términos usados en el objeto con su respectiva definición.
                                    </p>
                                </div>                                 
                            </li>
                            <li>
                                <div>
                                    <span class="transfe_font color_txthelp">j</span>
                                </div>
                                <div>
                                    <p>
                                        <strong> Mapa conceptual: </strong> representación gráfica que presenta la relación de los conceptos de los temas a tratar en el objeto.
                                    </p>
                                </div>                                
                            </li>
                            <li>
                                <div>
                                    <span class="transfe_font color_txthelp">k</span>                                    
                                </div>
                                <div>
                                    <p>
                                        <strong> PDF descargable: </strong> versión imprimible de la temática donde encontrará un breve resumen del contenido del objeto.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span class="transfe_font color_txthelp">-</span>
                                </div>
                                <div>
                                    <p>
                                        <strong> Tabla de contenido:  </strong> es el listado temático que contiene el objeto.
                                    </p>
                                </div>                                
                            </li>
                            <li>
                                <div>
                                    <span class=" icon_style_sensibilizacion_apertura icon_help transfe_font">b</span>
                                </div>
                                <div>
                                    <p>
                                        <strong> Sensibilización de apertura: </strong> presenta un episodio relacionado con la línea narrativa del curso, cuyo propósito es dar apertura al tema a tratar en el objeto.
                                    </p>
                                </div>                                
                            </li>
                            <li>
                                <div>
                                    <span class=" icon_style_contextualizacion icon_help transfe_font">h</span>
                                </div>
                                <div>
                                    <p>
                                        <strong> Contextualización: </strong> brinda elementos conceptuales y estimula al usuario acerca del tema que se va a desarrollar en el objeto.
                                    </p>
                                </div>                                
                            </li>
                            <li>
                                <div>
                                    <span class=" icon_style_contenidos icon_help transfe_font">c</span>
                                </div>
                                <div>
                                    <p>
                                        <strong> Contenido: </strong> en esta parte se desarrollan los temas y las actividades de aprendizaje necesarias para alcanzar los resultados de aprendizaje planteados. 
                                    Se encuentra estructurado por subtemas.
                                    </p>
                                </div>                                
                            </li>
                            <li>
                                <div>
                                    <span class="icon_style_recordemos transfe_font icon_help">d</span>
                                </div>
                                <div>
                                    <p>
                                        <strong> Recordemos: </strong> presenta un resumen breve de los contenidos principales del tema.
                                    </p>
                                </div>                                
                            </li>
                            <li>
                                <div>
                                    <span class=" icon_style_preguntas_conocimiento icon_help transfe_font">e</span>
                                </div>
                                <div>
                                    <p>
                                        <strong>Preguntas de conocimiento: </strong> presenta una serie de preguntas para evaluar el nivel de comprensión adquirido por el usuario.
                                    </p>
                                </div>                                
                            </li>
                            <li>
                                <div>
                                    <span class=" icon_style_sensibilizacion_cierre icon_help transfe_font">f</span>
                                </div>
                                <div>
                                    <p>
                                        <strong>Sensibilización de cierre: </strong> presenta una serie de preguntas para evaluar el nivel de comprensión adquirido por el usuario.
                                    </p>
                                </div>                                
                            </li>
                            <li>
                                <div>
                                    <img src="img/herramientas.png">
                                </div>
                                <div>
                                    <p>
                                        <strong>Menú herramientas: </strong> botón que despliega un menú con las siguientes herramientas: pantalla completa (full screen), créditos, ayuda, información del producto y accesibilidad. Veamos la descripción de cada uno:
                                        <br>
                                        <br>
                                        <span>
                                            <strong>Full screen: </strong> activa la visualización del objeto en pantalla completa. 
                                            <br><br><strong>Créditos: </strong> lista los nombres de los participantes que desarrollaron el objeto con sus correspondientes cargos. 
                                            <br><br><strong>Menú ayuda:  </strong> despliega información y orientación para la navegación del objeto.
                                            <br><br><strong>Información: </strong> presenta los derechos de Copyright del objeto que pertenecen al SENA y la licencia para Colombia del material del objeto.                     
                                            <br><br><strong>PDF - Accesibilidad:  </strong> contiene un pdf con las indicaciones necesarias para que las   personas con discapacidad visual configuren el objeto y puedan leerlo.
                                        </span>
                                    </p>
                                </div>                                
                            </li>
                            <li>
                                <div>
                                    <img src="img/miga.png">
                                </div>
                                <div>
                                    <p>
                                        <strong>Miga de pan: </strong> permite ubicar al usuario en que unidad y lección se encuentra dentro del objeto.
                                    </p>
                                </div>                                
                            </li>
                            <li>
                                <div>
                                    <img src="img/cabezote.png">
                                </div>
                                <div>
                                    <p>
                                        <strong>Cabezote: </strong> Permite ubicar al usuario en que objeto, unidad y lección en donde se encuentra. Muestra el título y la miga de pan.
                                    </p>
                                </div>                                
                            </li>
                            <li>
                                <div>
                                    <img src="img/paginador.png">
                                </div>
                                <div>
                                    <p>
                                        <strong>Paginación: </strong> permite avanzar o retroceder de un recurso a otro dentro del objeto.
                                    </p>
                                </div>                                
                            </li>
                        </ul>
                    </div>
                </div>

            
                <!-- Pop-Up Glosario -->
                <div id="popup_glosario" class="popup-contenedor">
                    <div class="popup-header">
			<div class="popup-icono transfe_font">i</div>
			<div class="popup-titulo">Glosario</div>
			<div class="popup-btnCerrar transfe_font">x</div>
                   </div>
                    <div class="popup-contenido">
			<!-- Espacio del glosario -->
			<!-- item1 -->
			<div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     Ambiente virtual de aprendizaje (AVA):</strong> de acuerdo con López (2002), el ambiente virtual de aprendizaje es “un conjunto de entornos de interacción, sincrónica y asincrónica, donde, con base en un programa curricular, se lleva a cabo el proceso enseñanza-aprendizaje, a través de un sistema de administración de aprendizaje” (Como se citó en López, 2014).
                            </div>
            </div></br>
            <!-- item2 -->
            <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     Blog:</strong> es la herramienta de comunicación digital más utilizada en la red, en donde el autor recopila y publica información sobre un tema concreto. 
                            </div>
            </div></br>
            <!-- item3 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     CMS (Content Management System, o Sistema de Gestión de Contenido): </strong>es una plataforma para crear y administrar contenido digital. 
                            </div>
            </div></br>
            <!-- item4 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">Comunicación asíncrona:</strong> es aquella que no ocurre al mismo tiempo entre los participantes.
                            </div>
                        </div></br>
                        <!-- item5 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     Comunicación sincrónica:</strong> es aquella que se desarrolla al mismo tiempo entre los participantes.
                            </div>
                        </div></br>
                        <!-- item6 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     Foro:</strong> es un espacio de discusión abierto para el análisis, argumentación y consenso de ideas y opiniones a partir de una pregunta o tema en cuestión.
                            </div>
                        </div></br>
                        <!-- item7 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     Interacción:</strong> es la comunicación que se lleva a cabo entre aprendiz e instructor, entre los aprendices y entre los aprendices, el instructor y el contenido.
                            </div>
                        </div></br>
                        <!-- item8 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     Interactividad:</strong> es la capacidad gradual y variable que tiene un campus virtual para darle a los usuarios la posibilidad de interactuar entre sí y con su entorno a través de las diversas herramientas y recursos digitales que ofrecen las TIC.
                            </div>
                        </div></br>
                        <!-- item9 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     LCMS (Learning and Content Management System o Sistema de Gestión de Contenido y Aprendizaje):</strong> es una plataforma para administrar los contenidos web y gestionar el aprendizaje.
                            </div>
                        </div></br>
                        <!-- item10 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     LMS (Learning Management System o Sistema de Gestión del Aprendizaje):</strong> un sistema de gestión de aprendizaje es una aplicación instalada en un servidor, que administra, distribuye y controla las actividades de formación de una institución. (Blackboard, Moodle).
                            </div>
                        </div></br>
                        <!-- item11 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     Multimedia:</strong> son los recursos en los que confluyen texto, imagen, audio o video con un fin determinado, ejemplo: informativas, institucionales y publicitarias.
                            </div>
                        </div></br>
                        <!-- item12 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     Objeto de Aprendizaje (OA):</strong> son elementos compuestos por recursos digitales organizados y estructurados para el logro de un resultado de aprendizaje con cierto nivel de interactividad.
                            </div>
                        </div></br>
                        <!-- item13 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">    Redes sociales:</strong> es una estructura social digital compuesta por grupos de personas conectadas según intereses, parentesco o amistad.
                            </div>
                        </div></br>
                        <!-- item14 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">    Repositorio:</strong> Banco de objetos digitales de aprendizaje que permiten almacenar, buscar, recuperar, consultar y acceder a información de todas las áreas de conocimiento. (Universidad Nacional, s.f.).
                            </div>
                        </div></br>
                        <!-- item15 -->
                        
                        <!-- item16 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     Tecnologías de la Información y las Comunicaciones:</strong> Son el conjunto de recursos, herramientas, equipos, programas informáticos, aplicaciones, redes y medios, que permiten la compilación, procesamiento, almacenamiento, transmisión de información como: voz, datos, texto, vídeo e imágenes (Ley 1341 de 2009).
                            </div>
                        </div></br>
                        <!-- item17 -->
                        <div class="glosario-item">
                            <div class="glosario-item-vineta"></div>
                            <div class="glosario-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><strong style="color: #00415B; ">     Wiki:</strong> es un sitio web colaborativo que puede ser editado por varios usuarios, manteniendo un histórico de las modificaciones realizadas y las personas que las realizaron. 
                            </div>
                        </div>
                        <!-- / -->
                    </div>
                </div>
                
                <!-- Pop-Up Créditos -->
                <div id="popup_creditos" class="popup-contenedor">
                    <div class="popup-header">
                        <div class="popup-icono transfe_font">B</div>
                        <div class="popup-titulo">Créditos</div>
                        <div class="popup-btnCerrar transfe_font">x</div>
                    </div>
                    <div class="popup-contenido">
                        <!-- Espacio de créditos -->
                        <div class="creditos-texto">
                            <strong style="font-size: 1.5rem;">Servicio Nacional de Aprendizaje SENA</strong>
                            <br/>
                            <br/>
                            <br/>
                            <strong>Director General</strong>
                            <br/>
                            Alfonso Prada Gil
                            <br/>
                            <br/>
                            <strong>Secretario General</strong>
                            <br/>
                            Milton Nuñez Paz
                            <br/>
                            <br/>
                            <strong>Director del Sistema Nacional de Formación para el Trabajo</strong>
                            <br/>
                            Juan Manuel Valdés Barcha
                            <br/>
                            <br/>
                            <strong>Director de Promoción y Relaciones Corporativas</strong>
                            <br/>
                            Juan Pablo Castro Morales
                            <br/>
                            <br/>
                            <strong>Directora de Empleo, Trabajo y Emprendimiento</strong>
                            <br/>
                            María Andrea Nieto Romero
                            <br/>
                            <br/>
                            <strong>Director de Formación Profesional Integral</strong>
                            <br/>
                            Mauricio Alvarado Hidalgo
                            <br/>
                            <br/>
                            <strong>Directora Administrativa y Financiera</strong>
                            <br/>
                            Piedad Jiménez Montoya
                            <br/>
                            <br/>
                            <strong>Director Jurídico</strong>
                            <br/>
                            Juan Pablo Arenas Quiroz
                            <br/>
                            <br/>
                            <strong>Director de Planeación y Direccionamiento Corporativo</strong>
                            <br/>
                            Iván Ernesto Rojas Guzmán
                            <br/>
                            <br/>
                            <strong>Jefe Oficina de Control Interno</strong>
                            <br/>
                            Raúl Eduardo González Garzón
                            <br/>
                            <br/>
                            <strong>Jefa de la Oficina de Control Interno Disciplinario</strong>
                            <br/>
                            Dora Milena García Moreno
                            <br/>
                            <br/>
                            <strong>Jefe de la Oficina de Sistemas</strong>
                            <br/>
                            Carlos César Jiménez Aponte
                            <br/>
                            <br/>
                            <strong>Jefe de la Oficina de Comunicaciones</strong>
                            <br/>
                            Melba Pinto Gualdrón
                            <br/>
                            <br/>
                            <strong>Coordinador del Grupo Gestión Operativa Integral de la Formación en Modalidad Presencial</strong>
                            <br/>
                            Mario Javier Rincón Triana
                            <br/>
                            <br/>
                            <strong>Gerente Programa de Bilingüismo SENA</strong>
                            <br/>
                            Olga Lucía Riveros Gaona
                            <br/>
                            <br/>
                            <strong>Asesor de contenidos educativos Programa de Bilingüismo SENA Coordinador del proyecto</strong>
                            <br/>
                            Mauricio Ríos Delgado
                            <br/>
                            <br/>
                            <strong>Asesor técnico de programación e ingeniería del proyecto Programa de Bilingüismo SENA</strong>
                            <br/>
                            William Augusto Duque Villalba
                            <br/>
                            <br/>
                            <strong>Asesora pedagógica y curricular del proyecto Programa de Bilingüismo SENA</strong>
                            <br/>
                            Dayana Cortés Medina
                            <br/>
                            <br/>
                            <strong>Asesora pedagógica Programa de Bilingüismo</strong>
                            <br/>
                            Astrid Oliveros López
                            <br/>
                            <br/>
                            <br/>
                            <strong style="font-size: 1.5rem;">Mireco Group</strong>
                            <br/>
                            <br/>
                            <br/>
                            <strong>Diseñadores Instruccionales</strong>
                            <br/>
                            
                            Emanuel Diaz Palencia<br/>
                            Oscar Reyes Coral<br/>
                            <br/>
                            <br/>
                            <strong>Diseñadores Gráficos</strong>
                            <br/>
                            Edwin Diaz Pinzon<br/>
                            Johanna Duarte Diaz<br/>
                            <br/>
                            <br/>
                            <strong>Realizadores Audiovisuales</strong>
                            <br/>
                            Carolina Nova Torres<br/>
                            Alejandro Gonzalez Pulecio<br/>
                            <br/>
                            <br/>
                            <strong>Desarrolladores Mutimedia</strong>
                            <br/>
                            Paola Cruz Espinosa<br/>
                            Diana Bejarano Bejarano<br/>
                            Andres Segura Baron<br/>
                            Yinet Rodriguez Lopez<br/>
                            Viviana Jiménez Mayor<br/>
                            <br/>
                            <br/>
                            <strong>Diseñadora Virtual</strong>
                            <br/>
                            Diana Duque Avendaño
                            <br/>
                            <br/>
                            <strong>Programadores</strong>
                            <br/>
                            Luis Gabriel Toscano<br/>
                            Heiner Hangarita<br/>
                            Santiago Peñuela Arcila<br/>
                            Gabriel León<br/>
                            Urlieson León Sánchez<br/>
                            <br/>
                            <br/>
                            <strong>Director de Proyecto</strong>
                            <br/>
                            Liliana Pinzón Forero
                            <br/>
                            <br/>
                            <strong>Director Operativo</strong>
                            <br/>
                            Carlos Cabra Reyes
                            <br/>
                            <br/>
                            <strong>Gerente General</strong>
                            <br/>
                            Myriam Reyes Coral
                            <br/>
                            <br/>
                            <br/>
                            <strong style="font-size: 1.5rem;">eDistribution</strong>
                            <br/>
                            <br/>
                            <br/>
                            <strong>Autores</strong>
                            <br/>
                            Claudia Milena Pérez Guerrero
                            <br/>
                            Diana Marcela Herrera Torres
                            <br/>
                            Kelly Dainne Puentes Velasco
                            <br/>
                            William Fernando Guerra Borrero
                            <br/>
                            Wilson Julián Aldana Nieto
                            <br/>
                            Alba Lucia Beltrán Poveda
                            <br/>
                            <br/>
                            <strong>Diseñadores Instruccionales</strong>
                            <br/>
                            <br/>
                            Jorge Edison Rojas Rodriguez<br/>
                            Fabio Rozo Barrera<br/>
                            Nubia Nancy Cruz Ulloa<br/>
                            Jeiner Leandro Velandia Sanabria<br/>
                            <br/>
                            <br/>
                            <strong>Experto Pedagógico</strong>
                            <br/>
                            <br/>
                            Luis Eduardo Cuervo Villamil
                            <br/>
                            <br/>
                            <strong>Coordinador</strong>
                            <br/>
                            <br/>
                            Nancy Carrillo Mora
                            <br/>
                            <br/>
                            <strong>Catalogadores</strong>
                            <br/>
                            <br/>
                            Jury Emilse Correa Vivas
                            <br/>
                            Katherin Vargas Polo
                            <br/>
                            Paola Andrea Hurtado Castro
                            <br/>
                            Johana Mancipe Delgado                            
                            <br/>
                            <br/>                            
                        </div>
                        <!-- / -->
                    </div>
                </div>
                
                <!-- Pop-Up PDF -->
                <div  id="popup_PDF" class="popup-contenedor">
                    <div class="popup-header">
    			<div class="popup-icono transfe_font">k</div>
                        <div class="popup-titulo">PDF</div>
			<div class="popup-btnCerrar transfe_font">x</div>
                 </div>
                    <div class="popup-contenido">
                        <div>
                            <h1>Descargue el PDF</h1>
                            <p>Haga clic en el ícono para descargar el PDF</p>
                            <a href="#" class="transfe_font">k</a>
                        </div>
                    </div>
		</div>

                <!-- Pop-Up Bibliografía -->
                <div id="popup_bibliografia" class="popup-contenedor">
                    <div class="popup-header">
                        <div class="popup-icono transfe_font">g</div>
                        <div class="popup-titulo">Bibliografía</div>
                        <div class="popup-btnCerrar transfe_font">x</div>
                    </div>
                    <div class="popup-contenido">
                        <!-- Espacio de la bibliografia -->
                        <!-- item1 -->
                        <div class="bibliografia-item">
                            <div class="bibliografia-item-vineta"></div>
                            <div class="bibliografia-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><b>     Consejo de Europa. (2002). Marco común europeo de referencia para las lenguas: aprendizaje, enseñanza, evaluación (Traducido por el Instituto Cervantes). Madrid: Anaya.</b>
                            </div>
                        </div></br>
                        <!-- item3 -->
                        <div class="bibliografia-item">
                            <div class="bibliografia-item-vineta"></div>
                            <div class="bibliografia-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><b>     López, R., Buitrón, M., Mejía, B., Bernal, M. T. (2014). La Investigación en torno al diseño de AVA en la UAM-A. Revista Material didáctico innovador nuevas tecnologías educativas, 10, 2, julio-diciembre. 31-37.</b> 
                            </div>
                        </div></br>
                        <!-- item4 -->
                        
                        <!-- item5 -->
                        <div class="bibliografia-item">
                            <div class="bibliografia-item-vineta"></div>
                            <div class="bibliografia-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><b>     Oficina Regional de Educación para América Latina y el Caribe (OREALC/UNESCO Santiago). (2013). Enfoque estratégico sobre TICS en educación en América Latina y el Caribe. Santiago: UNESCO.</b> 
                            </div>
                        </div></br>
                        <!-- item6 -->
                        
                        <!-- item7 -->
                        <div class="bibliografia-item">
                            <div class="bibliografia-item-vineta"></div>
                            <div class="bibliografia-item-texto">
                                <span class="transfe_font" style="color: #00415B;">></span><b>     Ríos A., J. M., Ruiz P. (2011). Competencias, TIC e innovación nuevos escenarios para nuevos retos. Bogotá Eduforma, Ediciones de la U.</b> 
                            </div>
                        </div></br>
                        <!-- item8 -->
                        
                        <!-- item9 -->
                        
                        <!-- item10-->
                        
                        <!-- / -->
                    </div>
                </div>
                
                <!-- Pop-Up TABLA DE CONTENIDO -->
                <div id="popup_tabla_de_contenido" class="popup-contenedor">
                    <div class="popup-header">
                        <div class="popup-icono transfe_font">-</div>
                        <div class="popup-titulo">Contenido</div>
                        <div class="popup-btnCerrar transfe_font">x</div>
                    </div>
                    <div class="popup-contenido">
                        <ul>
                            <li>
                                <span class="transfe_font icon_style_portada_boton">a</span>
                                <p>Iniciemos</p>
                            </li>
                            <li>
                                <span class="transfe_font icon_style_sensibilizacion_apertura">b</span>
                                <p>Marco instruye sobre las TIC</p>
                            </li>
                            <li>
                                <span class="transfe_font icon_style_contextualizacion">h</span>
                                <p>Las TIC en la educación</p>
                            </li>
                            <li>
                                <span class="transfe_font icon_style_contenidos">c</span>
                                <p>Contenidos</p>
                            </li>
                            <li>
 
                                <ul>                    
                                    <li><span>Conceptualización de las TIC.</span></li>
                                    <li><span>Herramientas y recursos digitales.</span></li>
                                    <li><span>Conceptos relacionados con las TIC.</span></li>  
                                    <li><span>Nuevas competencias.</span></li>
                                </ul>
                            </li>
                            <li>
                                <span class="transfe_font icon_style_recordemos">d</span>
                                <p>Recordemos</p>
                            </li>
                            <li>
                                <span class="transfe_font icon_style_sensibilizacion_cierre">f</span>
                                <p>Marco enseña sobre las TIC</p>
                            </li>
                            <li>
                                <span class="transfe_font icon_style_preguntas_conocimiento">e</span>
                                <p>Preguntas de conocimiento</p>
                            </li>
                        </ul>                        
                    </div>
                </div>
                
            </div>
        </section>
        
        <script src="js/jquery-1.10.2.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/jquery.fullscreen.min.js" type="text/javascript"></script>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/audio.min.js" type="text/javascript"></script>
        <script src="js/main.js"></script>
        <script src="js/video-js.js"></script>
	<script src="js/videojs-ie8.min.js"></script>
        <script src="js/owl.carousel.min.js" type="text/javascript"></script>
        <script src="application/controller/layouts.js" type="text/javascript"></script>
        <script src="application/controller/organizadores.js" type="text/javascript"></script>
        <script src="application/controller/routes.js" type="text/javascript"></script>
        <script src="application/controller/system.js" type="text/javascript"></script>
        <script src="application/model/constantes.js" type="text/javascript"></script>
        <script src="application/model/services.js" type="text/javascript"></script>
        <script src="application/controller/actividades.js" type="text/javascript"></script>
        
        <script src="application/system/contenido.js" type="text/javascript"></script>
        <script src="application/system/datos_generales.js" type="text/javascript"></script>
        <script src="application/system/extras.js" type="text/javascript"></script>
    </body>
</html>
