<div class="popupNoOlvideQue-capaOpacidad" ng-click="cerrar()"></div>
<div class="popupNoOlvideQue-contenedor">
	<div class="popupNoOlvideQue-title">
		No olvide que...
		<span class="popupNoOlvideQue-title-btnCerrar transfe_font" ng-click="cerrar()">x</span>
	</div>
	<div class="popupNoOlvideQue-contenido">
		<div class="popupNoOlvideQue-contenido-texto">
			<span ng-repeat="(idP, item) in dataPopupsSabiasNoolvide.textosNoOlvideQue">
				{{item}}<br/><br/>
			</span>
		</div>
		<div class="popupNoOlvideQue-contenido-video">
			<video class="video video-js vjs-default-skin vjs-big-play-centered"
		           preload="auto"
		           autoplay
		           loop
		           data-setup='{"example_option":true}'>
		        <source src="{{dataPopupsSabiasNoolvide.urlVideoNoOlvideQue}}" type='video/mp4' />
		        <source src="{{dataPopupsSabiasNoolvide.urlVideoNoOlvideQue}}" type='video/webm' />
		        <source src="{{dataPopupsSabiasNoolvide.urlVideoNoOlvideQue}}" type='video/ogg' />
		        <p class="vjs-no-js">Para ver este video, por favor habilite JavaScript en su navegador</p>
		    </video>
		</div>
	</div>
	<div class="popupNoOlvideQue-icon"/>
</div>