<div class="popupLineaNarrativa-capaOpacidad" ng-click="cerrar()"></div>
<div class="popupLineaNarrativa-contenedor">
	<div class="popupLineaNarrativa-title">
		<div class="popupLineaNarrativa-icon"/>
		<span class="popupLineaNarrativa-title-btnCerrar transfe_font" ng-click="cerrar()">x</span>	
	</div>
	<div class="popupLineaNarrativa-contenido">
		<div class="popupLineaNarrativa-contenido-texto">
			<span ng-repeat="(idP, item) in dataPopupsSabiasNoolvide.textosLineaNarrativa">
				{{item}}<br/><br/>
			</span>
		</div>
		<div class="popupLineaNarrativa-contenido-video">
			<video class="video video-js vjs-default-skin vjs-big-play-centered"
		           preload="auto"
		           autoplay
		           loop
		           data-setup='{"example_option":true}'>
		        <source src="{{dataPopupsSabiasNoolvide.urlVideoLineaNarrativa}}" type='video/mp4' />
		        <source src="{{dataPopupsSabiasNoolvide.urlVideoLineaNarrativa}}" type='video/webm' />
		        <source src="{{dataPopupsSabiasNoolvide.urlVideoLineaNarrativa}}" type='video/ogg' />
		        <p class="vjs-no-js">Para ver este video, por favor habilite JavaScript en su navegador</p>
		    </video>
		</div>
	</div>
</div>