<div class="popupLineaNarrativa-capaOpacidad" ng-click="cerrar()"></div>
<div class="popupLineaNarrativa-contenedor">
	<div class="popupLineaNarrativa-title">
		<div class="popupLineaNarrativa-icon"/>
		<span class="popupLineaNarrativa-title-btnCerrar transfe_font" ng-click="cerrar()">x</span>	
	</div>
	<div class="popupLineaNarrativa-contenido">
		<div class="popupLineaNarrativa-contenido-texto">
			<span ng-repeat="(idP, item) in dataPopupsSabiasNoolvide.textosLineaNarrativa">
				{{item}}<br/><br/>
			</span>
		</div>
		<div class="popupLineaNarrativa-contenido-imagen"/>
	</div>
</div>