<div class="popupActContenedorCerrar" ng-click="cerrar()"></div>
<div class="popupActContentenido">
	<div ng-show="objetoretro.retrobn" class="popupActCorrecta">
		<p>¡Muy bien! Ahora continuemos 
		con el tema.</p>
	</div>
	<div ng-show="objetoretro.nuevointento" class="popupActNuevoIntento">
		<p>¡Algo no está bien! revise sus respuestas. Inténtelo nuevamente.</p>
		<div class="popupActContentenidoNuevoIntento" ng-click="nuevoIntento(); cerrar();"> Nuevo Intento </div>
	</div>
	<div ng-show="objetoretro.verrespuesta" class="popupActVerRespuesta">
		<p>¡Algo no está bien!.</p>
		<div class="popupActContentenidoVerRespuesta" ng-click="verRespuesta(); cerrar();"> Ver Respuesta </div>
	</div>
	<div class="popupActContentenidoCerrar" ng-click="cerrar()"></div>
</div>