<div class="act_dra_dro act_dra_dro-{{idActividad}}">
    <div>
      	<h1>{{preguntas.enunciado}}</h1>
		<div class="con_drag_drop">
			<div>
				<div ng-repeat="(idP, pregunta) in drops">
					<div class="elemento" pt-item-drop="pregunta.chain"></div>
					<div class="drop drop{{idP}}" droppable data-numero="{{pregunta.accepted[0]}}" data-drag="{{idP}}"></div>
				</div>
			</div>
			<div class="cnt_dra">
				<div ng-repeat="(idP, pregunta) in drags">
					<div class="drag drag{{idP}}" draggable data-numero="{{idP}}">{{pregunta}}</div>
				</div>                             
			</div>
			<div ng-if="create" class="btnEnviar hvr-float-shadow" ng-show="dataDragDrop.muestrabtnEnviar" ng-click="enviarDragDrop(this)">Enviar</div>
		</div>
    </div>
</div>