<div>
    <div>
        <div>
            <p class="con_tex_ret">{{atributos.enunciado}}</p>
        </div>
        <div ng-repeat="(idP, pregunta) in preguntas">
            <div class="elemento" pt-item="pregunta.chain"></div>
            <div class="con_lis">
                <select name="select1">
                    <option value=""></option>
                    <option ng-repeat="(key, value) in pregunta.opciones" value="{{key}}">
                        {{value}}{{idP}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    
    <button ng-click="enviarListaDesplegable()">ENVIAR</button>
</div>