/* Actividad de Drag and Drop*/

.act_dra_dro{
  margin: 0px auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.act_dra_dro>div {
  display: flex;
  flex-direction: column;
  height: auto;
}

.act_dra_dro>div h1 {
  text-align: left;
  font-family: SourceSans Pro;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  box-sizing: border-box;
  margin: 30px 0;
  text-align: justify;
}

.act_dra_dro>div>div>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.act_dra_dro>div>div>div>div {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    padding: 0 10px;
}

.act_dra_dro>div>div>div>div div.elemento {
  text-align: justify;
  display: flex;
  flex: 1 1 0%;
}


.act_dra_dro>div>div>div>div div.elemento .img_container {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 3px solid #005573;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
}

.act_dra_dro>div>div>div>div div.elemento .img_container img{
    width: 100%;
    height: 100%;
}

.act_dra_dro>div>div>div>div div.elemento .text_container .text_text {
    line-height: 15px;
    padding: 0px 0px 5px 0px !important;
    font-family: SourceSans Pro;
    font-size: 16px;
    text-align: justify;
}


.act_dra_dro>div>div>div>div div.drop {
    background-color: rgba(0,62,86,.8);
    height: 30px;
}

.act_dra_dro>div>div>div>div div.drag {
    height: 30px;
    line-height: 30px;
    background-color: #005F7F; 
    color: white;
    font-family: SourceSans Pro;
    font-size: 16px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
.con_drag_drop_hov{
    background: #01B3BE;
}

.act_dra_dro>div>div>div>div div.drag.ui-draggable-dragging {
    background-color: #004B5E; 
    border-color: #004B5E;
}

.act_dra_dro>div div .btnEnviar{
  background-color: #136893;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  color: white;
  padding: 10px 12px;
  border: 2px solid #136893;
  cursor: pointer;
  width: 100px;
  margin: auto;
  font-family: SourceSans Pro;
  font-size: 16px;
}


@media screen and (max-width: 768px) {
  .act_dra_dro > div > div > div {
    flex-direction: column;
  }
}

/* Actividad de Lista Desplegable */

.act_lis_des{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.act_lis_des>div {
    display: flex;
    flex-direction: column;
    height: auto;
}

.act_lis_des>div h1 {
    text-align: justify;
    font-family: SourceSans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    box-sizing: border-box;
    margin: 30px 0;
}

.act_lis_des>div>div>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.act_lis_des>div>div>div>div {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 10px;
}

.act_lis_des>div>div>div>div div.elemento {
    text-align: justify;
    display: flex;
    flex: 1;
}

.act_lis_des>div>div>div>div div.elemento .img_container {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 3px solid #005573;
    box-sizing: border-box;
}

.act_lis_des>div>div>div>div div.elemento .img_container img{
    width: 100%;
    height: 100%;
}

.act_lis_des>div>div>div>div div.elemento .text_container .text_text {
    line-height: 15px;
    padding: 0px 0px 5px 0px !important;
    font-family: SourceSans Pro;
    font-size: 16px;
    text-align: justify;
}

.act_lis_des>div>div>div>div select {
    width: 100%;
    color:#606060;
    background: transparent;
    font-size: 16px;
    border: 1px solid #A3A3A3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../../img/listadesplegable.svg") right center no-repeat #ECECEC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.act_lis_des>div>div>div>div select option{
    color:#606060;
    padding:5px;
    border-bottom: 1px solid #A3A3A3;
    background: #ECECEC;
    font-family: SourceSans Pro;
    font-size: 16px;
}

.act_lis_des>div>div>div>div select option:hover {  
    cursor: pointer;
}

.act_lis_des>div .btnEnviar {
  background-color: #136893;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  color: white;
  padding: 10px 12px;
  border: 2px solid #136893;
  cursor: pointer;
  width: 100px;
  margin: auto;
  font-family: SourceSans Pro;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .act_lis_des > div > div > div {
    flex-direction: column;
  }
}

/* Actividad Sortable */


.sortable-contenedor {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.sortable-texto1 {
    font-family: SourceSans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin: 30px 0;
    text-align: justify;
    width: 100%;
}

.sortable-items {
    margin-bottom: 30px;
    width: 100%;
}

.sortable-item {
  background-color: #136893;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  color: white;
  margin: 4px 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  border: 2px solid #136893;
  box-sizing: border-box;
  font-family: SourceSans Pro;
  font-size: 16px;
}

.sortable-item:hover {
  cursor: pointer;
}
.sortable-item.ui-sortable-helper {
  color: #136893;
  background-color: white;
}
.ui-sortable-placeholder {
  border: 3px dashed white;
  background-color: transparent !important;
  margin: 4px 0;
  padding: 20px 0;
}
.sortable-btnEnviar {
  background-color: #136893;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  color: white;
  padding: 10px 12px;
  border: 2px solid #136893;
  cursor: pointer;
  font-family: SourceSans Pro;
  font-size: 16px;
}


/*Actividad pickmany gabriel león*/
.pickmany {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.pickmany-pregunta {
    margin-bottom: 20px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
}

.pickmany-pregunta-enunciado {
    box-sizing: border-box;
    flex: 1 1 0;
    font-family: SourceSans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    margin: 30px 0;
}

.pickmany-pregunta-items {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex: 2 1 0%;
}
.pickmany-pregunta-item {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-justify-content: left;
    -webkit-justify-content: left;
    justify-content: left;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 5px 0;
    text-align: left;
}

.pickmany-pregunta-item>div>div .text_container .text_text{
  font-family: SourceSans Pro;
  font-size: 16px;
  text-align: justify;
}

/*Estilos inputs*/
.pickmany-pregunta-item-fieldInput {
  height: 16px;
  margin-right: 20px;
  width: 16px;
  position: relative;
}
.pickmany-pregunta-item-fieldInput input {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/*radiobuttom*/
.pickmany-pregunta-item-fieldInput input[type=radio] ~ .pickmany-pregunta-item-fieldInput-iconNoCheck {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  border-radius: 50%;
  border: 2px solid #004C5E;
  width: 12px;
  height: 12px;
}
.pickmany-pregunta-item-fieldInput input[type=radio] ~ .pickmany-pregunta-item-fieldInput-iconCheck {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  border-radius: 50%;
  border: 2px solid #004C5E;
  display: none;
  width: 12px;
  height: 12px;
}
.pickmany-pregunta-item-fieldInput input[type=radio] ~ .pickmany-pregunta-item-fieldInput-iconCheck > div {
  background-color: #147290;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 50%;
  margin: 2px;
}
.pickmany-pregunta-item-fieldInput input[type=radio]:checked ~ .pickmany-pregunta-item-fieldInput-iconNoCheck {
  display: none;
}
.pickmany-pregunta-item-fieldInput input[type=radio]:checked ~ .pickmany-pregunta-item-fieldInput-iconCheck {
  display: block;
}
/*checkbox*/
.pickmany-pregunta-item-fieldInput input[type=checkbox] ~ .pickmany-pregunta-item-fieldInput-iconNoCheck {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  border-radius: 4px;
  border: 2px solid #004C5E;
}
.pickmany-pregunta-item-fieldInput input[type=checkbox] ~ .pickmany-pregunta-item-fieldInput-iconCheck {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  border-radius: 4px;
  border: 2px solid #004C5E;
  display: none;
}
.pickmany-pregunta-item-fieldInput input[type=checkbox] ~ .pickmany-pregunta-item-fieldInput-iconCheck > div {
  background-color: #147290;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 2px;
  margin: 2px;
}
.pickmany-pregunta-item-fieldInput input[type=checkbox]:checked ~ .pickmany-pregunta-item-fieldInput-iconNoCheck {
  display: none;
}
.pickmany-pregunta-item-fieldInput input[type=checkbox]:checked ~ .pickmany-pregunta-item-fieldInput-iconCheck {
  display: block;
}
/**/
.pickmany-btnEnviar {
  background-color: #136893;
  border: 1px solid #006986;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  margin: 10px 0 20px 0;
  font-family: SourceSans Pro;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
    .pickmany-pregunta {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .pickmany-pregunta-enunciado {
        display: block;
        width: initial;
        margin: 0 10px 20px 10px;
        height: auto;
        max-height: 200px;
    }
    .pickmany-pregunta-items {
        width: 100%;
    }
}


/*Popups Retroalimentacion*/

.popupActContenedorCerrar {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 10;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -moz-pointer-events: auto;
  -webkit-pointer-events: auto;
  pointer-events: auto;
}

/*contenido popup*/
.popupActContentenido {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  color: white;
  border-radius: 8px;
  border: 1px solid rgb(75, 149, 170);
  width: 270px;
  height: auto;
  padding: 0px;
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/*contenido cerrar popup*/
.popupActContentenidoCerrar {
  width: 24px;
  height: 24px;
  background-image: url('../../img/popup-cerrar.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px auto;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

.popupActCorrecta {
  background-color: rgb(155, 187, 89);
  padding: 20px;
}

.popupActNuevoIntento {
  background-color: #6FBDDA;
  padding: 20px;
  text-align: center;
}

.popupActVerRespuesta {
  background-color: #EB9183;
  padding: 20px;
  text-align: center;
}

.popupActNuevoIntento div, .popupActVerRespuesta div {
  background-color: #136893;
  border: 1px solid #006986;
  color: #FFF;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  margin-top: 20px;
  font-family: SourceSans Pro;
  font-size: 16px;
}

.popupActNuevoIntento p, .popupActVerRespuesta p, .popupActCorrecta p{
  text-align: left;
  font-family: SourceSans Pro;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .popupActContentenido {
      width: 100%;
      box-sizing: border-box;
  }
}