.c1{
    background-color: orange;
    min-height: 10%;
    display: flex;
    flex-direction: row;
}

.c2{
    background-color: gold;
    min-height: 10%;
    display: flex;
    flex-direction: row;
}

.c3{
    background-color: greenyellow;
    min-height: 10%;
    display: flex;
    flex-direction: row;
}

.c4{
    background-color: cornflowerblue;
    min-height: 10%;
    display: flex;
    flex-direction: row;
}

p{
    align-self: flex-start;
    padding: 5%;
}

img{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

[class*="owl"]{
    display: flex;
    flex: 1;
}

.owl-controls{
    display: none;
}