/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/11/2015, 09:51:57 AM
    Author     : ltoscano
*/

.c1{
    flex: 1;
    display: flex;
}

.c2{
    flex: 1;
    display: flex;
}

.c3{
    flex: 1;
    display: flex;
}

.c4{
    flex: 1;
    display: flex;
}

p{
    align-self: flex-start;
    padding: 5%;
}

img{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

[class*="owl"]{
    display: flex;
    flex: 1;
}

.owl-controls{
    display: none;
}

/*----------------------- LAYOUT_CONTEXTUALIZACION ---------------------------*/

[pt-constructor]{
    display:flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.c1, .c2, .c3 , .c4, .c5{
    display: flex;
}

.dummy_layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow: auto;
}

.dummy_layout > .c1{
    flex-grow: 1;
    width: 100%;
}

.dummy_layout > .contenedor_1{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 10;
    width: 100%;
}

.dummy_layout > .contenedor_1 > .c2{
    flex: 1 0 30%;
}

.dummy_layout > .contenedor_1 > .c3{
    flex: 3 0 70%;
}

@media (max-width: 600px) { 
    .dummy_layout > .contenedor_1{
        flex-direction: column;
    }
}

/*----------------------- LAYOUT_1 ---------------------------*/

.layout_1{
    display: flex;
    flex-direction: row;
    flex: 1;
    /*
    width: 100%;
    height: 100%;
    */
}

.layout_1 > .c1{
    display: flex;
    flex-direction: row;
    flex: 2;
}

.layout_1 > .c2{
    display: flex;
    flex-direction: row;
    flex: 1;
}


@media (max-width: 750px) {  
    .layout_1{
        flex-direction: column;
    }

    .layout_1 > .c1{
        order: 2 ;
        flex: 0;
    }

    .layout_1 > .c2{
        flex: 0;
        margin-left: 30%;
        margin-right: 30%;
        order: 1;
    }
}

@media (max-width: 550px) {  
    .layout_1 .c2{
        margin-left: 25%;
        margin-right: 25%;
    }
}

/*----------------------- LAYOUT_2 ---------------------------*/

.layout_2{
    display: flex;
    flex-direction: column;
    flex: 1;
    /*
    width: 100%;
    height: 100%;
    */
}

.layout_2 > .c1{
    flex: 1 0 auto;
}

.layout_2 > .c2{
    flex: 9 0 auto;
}

/*----------------------- LAYOUT_3 ---------------------------*/

.layout_3{
    display: flex;
    flex-direction: column;
    /*flex: 1;*/
    width: 100%;
    height: 100%;
}

.layout_3 > .contenedor_1{
    flex: 5 0 auto;
    display: flex;
    flex-direction: row;
}

.layout_3 > .c1{
    flex: 1 0 auto;
    display: flex;
}

.layout_3 > .c2{
    flex: 4 0 auto;
    display: flex;
}

.layout_3 > .c3{
    flex: 1;
    display: flex;
}

.layout_3 > .c4{
    flex: 1;
    display: flex;
}

@media (max-width: 550px) {  
    .layout_3 > .contenedor_1{
        flex-direction: column;
    }

    .layout_3 > .c3{
        flex: 1 0 auto;
    }

    .layout_3 > .c4{
        flex: 1 0 auto;
    }
}

/*----------------------- LAYOUT_4 ---------------------------*/

.layout_4{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /*flex:  1;*/
}

.layout_4 .contenedor_1{
    flex: 1;
    display: flex;
    flex-direction: row;
    background: #005371; /* Old browsers */
    background: -moz-linear-gradient(top, #005371 21%, #005371 50%, #000407 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #005371 21%,#005371 50%,#000407 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #005371 21%,#005371 50%,#000407 100%);
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.layout_4 .c1{
    flex: 2 1 0;
}

.layout_4 .c2{
    flex: 3;
}

.layout_4 .c3{
    flex: 1;
}

@media (max-width: 550px) {  
    .layout_4 .contenedor_1{
        flex-direction: column;
    }

    .layout_4 .c2{
        flex: 1 0 auto;
    }

    .layout_4 .c3{
        flex: 1 0 auto;
    }
}

/*----------------------- LAYOUT_5 ---------------------------*/

.layout_5{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.layout_5 > .c1{
    flex: 1;
}

/*----------------------- LAYOUT_ACTIVIDAD_CONTENIDO_1 ---------------------------*/
div.layout_actividad_contenido_1
{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
}

.layout_actividad_contenido_1 > div.container_1
{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

.layout_actividad_contenido_1 > div.container_2
{   
    display: flex;
    flex: 3 0 auto;
    width: 100%;
}

.layout_actividad_contenido_1 > div.container_3
{
    display: flex;
    flex: 4 0 auto;
    flex-direction: row;
    width: 100%;
}

.layout_actividad_contenido_1 > div.container_3 > div.container_3_1
{
    display: flex;
    flex: 1 0 auto;
    width: 50%;
}

.layout_actividad_contenido_1 > div.container_3 > div.container_3_2
{
    display: flex;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.layout_actividad_contenido_1 > div.container_3 > div.container_3_2 > div.container_3_2_1
{
    display: flex;
    flex: 4 0 auto;
    width: 100%;
}

.layout_actividad_contenido_1 > div.container_3 > div.container_3_2 > div.container_3_2_2
{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

@media (max-width: 551px){
    .layout_actividad_contenido_1 > div.container_1
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_1 > div.container_2
    {   
        display: flex;
        flex: 2 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_1 > div.container_3
    {
        display: flex;
        flex: 7 0 auto;
        flex-direction: column;
        width: 100%;
    }

    .layout_actividad_contenido_1 > div.container_3 > div.container_3_1
    {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .layout_actividad_contenido_1 > div.container_3 > div.container_3_2
    {
        display: flex;
        flex: 2 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_1 > div.container_3 > div.container_3_2 > div.container_3_2_1
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_1 > div.container_3 > div.container_3_2 > div.container_3_2_2
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }
}

/*----------------------- LAYOUT_ACTIVIDAD_CONTENIDO_2 ---------------------------*/
div.layout_actividad_contenido_2
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.layout_actividad_contenido_2 > div.container_1
{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

.layout_actividad_contenido_2 > div.container_2
{   
    display: flex;
    flex: 3 0 auto;
    width: 100%;
}

.layout_actividad_contenido_2 > div.container_3
{
    display: flex;
    flex: 4 0 auto;
    flex-direction: row;
    width: 100%;
}

.layout_actividad_contenido_2 > div.container_3 > div.container_3_1
{
    display: flex;
    flex: 1 0 auto;
    width: 65%;
}

.layout_actividad_contenido_2 > div.container_3 > div.container_3_2
{
    display: flex;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.layout_actividad_contenido_2 > div.container_3 > div.container_3_2 > div.container_3_2_1
{
    display: flex;
    flex: 4 0 auto;
    width: 100%;
}

.layout_actividad_contenido_2 > div.container_3 > div.container_3_2 > div.container_3_2_2
{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

@media (max-width: 551px){
    .layout_actividad_contenido_2 > div.container_1
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_2 > div.container_2
    {   
        display: flex;
        flex: 2 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_2 > div.container_3
    {
        display: flex;
        flex: 7 0 auto;
        flex-direction: column;
        width: 100%;
    }

    .layout_actividad_contenido_2 > div.container_3 > div.container_3_1
    {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .layout_actividad_contenido_2 > div.container_3 > div.container_3_2
    {
        display: flex;
        flex: 2 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_2 > div.container_3 > div.container_3_2 > div.container_3_2_1
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_2 > div.container_3 > div.container_3_2 > div.container_3_2_2
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }
}

/*----------------------- LAYOUT_ACTIVIDAD_CONTENIDO_3 ---------------------------*/
div.layout_actividad_contenido_3
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.layout_actividad_contenido_3 > div.container_1
{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

.layout_actividad_contenido_3 > div.container_2
{   
    display: flex;
    flex: 3 0 auto;
    width: 100%;
}

.layout_actividad_contenido_3 > div.container_3
{
    display: flex;
    flex: 4 0 auto;
    flex-direction: row;
    width: 100%;
}

.layout_actividad_contenido_3 > div.container_3_1
{
    display: flex;
    flex: 1 0 auto;
    width: 30%;
}

.layout_actividad_contenido_3 > div.container_3_2
{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.layout_actividad_contenido_3 > div.container_3_2 > div.container_3_2_1
{
    display: flex;
    flex: 4 0 auto;
    width: 100%;
}

.layout_actividad_contenido_3 > div.container_3_2 > div.container_3_2_2
{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

@media (max-width: 551px){
    .layout_actividad_contenido_3 > div.container_1
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_3 > div.container_2
    {   
        display: flex;
        flex: 2 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_3 > div.container_3
    {
        display: flex;
        flex: 7 0 auto;
        flex-direction: column;
        width: 100%;
    }

    .layout_actividad_contenido_3 > div.container_3 > div.container_3_1
    {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .layout_actividad_contenido_3 > div.container_3 > div.container_3_2
    {
        display: flex;
        flex: 2 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_3 > div.container_3 > div.container_3_2 > div.container_3_2_1
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_3 > div.container_3 > div.container_3_2 > div.container_3_2_2
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }
}

/*----------------------- LAYOUT_ACTIVIDAD_CONTENIDO_4 ---------------------------*/
div.layout_actividad_contenido_4
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.layout_actividad_contenido_4 > div.container_1
{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

.layout_actividad_contenido_4 > div.container_2
{   
    display: flex;
    flex: 4 0 auto;
    width: 100%;
}

.layout_actividad_contenido_4 > div.container_3
{
    display: flex;
    flex: 4 0 auto;
    flex-direction: row;
    width: 100%;
}

.layout_actividad_contenido_4 > div.container_4
{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

@media (max-width: 551px){
    .layout_actividad_contenido_4 > div.container_1
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_4 > div.container_2
    {   
        display: flex;
        flex: 2 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_4 > div.container_3
    {
        display: flex;
        flex: 7 0 auto;
        flex-direction: column;
        width: 100%;
    }

    .layout_actividad_contenido_4 > div.container_3 > div.container_3_1
    {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .layout_actividad_contenido_4 > div.container_3 > div.container_3_2
    {
        display: flex;
        flex: 2 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_4 > div.container_3 > div.container_3_2 > div.container_3_2_1
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_actividad_contenido_4 > div.container_3 > div.container_3_2 > div.container_3_2_2
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }
}

/*----------------------- LAYOUT_CONTENIDO_2 ---------------------------*/
div.layout_contenido_2
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.layout_contenido_2 > div.container_1
{
    display: flex;
    width: 100%;
    flex: 1 0 auto;
    align-self: center;
    margin: 0 auto;
}

.layout_contenido_2 > div.container_2
{
    display: flex;
    width: 100%;
    flex: 3 0 auto;
    align-self: center;
    margin: 0 auto;
}

.layout_contenido_2 > div.container_3
{
    display: flex;
    width: 100%;
    flex: 6 0 auto;
    align-self: center;
    margin: 0 auto;
}

/*----------------------- LAYOUT_CONTENIDO_3 ---------------------------*/
div.layout_contenido_3
{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    width: 100%;
}

.layout_contenido_3 > div.container_1
{
    display: flex;
    width: 100%;
    flex: 1 0 auto;
    align-self: center;
    margin: 0 auto;
}

.layout_contenido_3 > div.container_2
{
    display: flex;
    width: 100%;
    flex: 3 0 auto;
    align-self: center;
    margin: 0 auto;
}

.layout_contenido_3 > div.container_3
{
    width: 100%;
    flex: 6 0 auto;
    display: flex;
    align-self: center;
    flex-direction: row;
}

.layout_contenido_3 > div.container_3 > div.container_3_1
{
    display: flex;
    width: 60%;
    flex: 2 0 auto;
}

.layout_contenido_3 > div.container_3 > div.container_3_2
{
    display: flex;
    width: 40%;
    flex: 1 0 auto;
}

@media (max-width: 551px){
    .layout_contenido_3 > div.container_1
    {
        display: flex;
        width: 100%;
        flex: 1 0 auto;
        align-self: center;
        margin: 0 auto;
    }

    .layout_contenido_3 > div.container_2
    {
        display: flex;
        width: 100%;
        flex: 2 0 auto;
        align-self: center;
        margin: 0 auto;
    }
    .layout_contenido_3 > div.container_3
    {
        width: 100%;
        flex: 6 0 auto;
        display: flex;
        align-self: center;
        flex-direction: column;
    }

    .layout_contenido_3 > div.container_3 > div.container_3_1
    {
        display: flex;
        width: 100%;
        flex: 2 0 auto;
    }

    .layout_contenido_3 > div.container_3 > div.container_3_2
    {
        display: flex;
        width: 100%;
        flex: 2 0 auto;
    }
}

/*----------------------- LAYOUT_CONTENIDO_4 ---------------------------*/
div.layout_contenido_4
{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.layout_contenido_4 > div.container_1
{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    margin: 0 auto;
}

.layout_contenido_4 > div.container_1 > div.container_1_1
{   
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

.layout_contenido_4 > div.container_1 > div.container_1_2
{
    display: flex;
    flex: 2 0 auto;
    flex-direction: row;
    width: 100%;
}

.layout_contenido_4  > div.container_1 > div.container_1_3
{
    display: flex;
    flex: 6 0 auto;
    width: 100%;
}

.layout_contenido_4 > div.container_2
{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    margin: 0 auto;
    width:100%;
}

@media (max-width: 551px){
    div.layout_contenido_4
    {
        display: flex;
        flex-direction: column;
    }

    .layout_contenido_4 > div.container_1
    {
        display: flex;
        width: 100%;
        flex: 3 0 auto;

    }

    .layout_contenido_4 > div.container_1 > div.container_1_1
    {
        display: flex;
        width: 100%;
        flex: 1 0 auto;

    }
    .layout_contenido_4 > div.container_1 > div.container_1_2
    {
        width: 100%;
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
    }

    .layout_contenido_4 > div.container_1 > div.container_1_3
    {
        display: flex;
        width: 100%;
        flex: 3 0 auto;
    }

    .layout_contenido_4 > div.container_2
    {
        display: flex;
        width: 100%;
        flex: 2 0 auto;
    }
}

/*----------------------- LAYOUT_CONTENIDO_5 ---------------------------*/
div.layout_contenido_5
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.layout_contenido_5 > div.container_1
{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

.layout_contenido_5 > div.container_2
{   
    display: flex;
    flex: 3 0 auto;
    width: 100%;
}

.layout_contenido_5 > div.container_3
{
    display: flex;
    flex: 4 0 auto;
    flex-direction: row;
    width: 100%;
}

.layout_contenido_5 > div.container_3> div.container_3_1
{
    display: flex;
    flex: 1 0 auto;
    width: 30%;
}

.layout_contenido_5 > div.container_3 > div.container_3_2
{
    display: flex;
    flex: 1 0 auto;
    width: 70%;
}

@media (max-width: 551px){
    div.layout_contenido_5
    {
        flex-direction: column;
    }

    .layout_contenido_5 > div.container_1
    {
        flex: 1 0 auto;
    }

    .layout_contenido_5 > div.container_2
    {
        flex: 2 0 auto;

    }
    .layout_contenido_5 > div.container_3
    {
        flex: 5 0 auto;
        display: flex;
        flex-direction: column;
    }

    .layout_contenido_5 > div.container_3 > div.container_3_1
    {
        width: 100%;
        flex: 3 0 auto;
    }

    .layout_contenido_5 > div.container_3 > div.container_3_2
    {
        width: 100%;
        flex: 3 0 auto;
    }
}

/*----------------------- LAYOUT_CONTENIDO_6 ---------------------------*/
div.layout_contenido_6
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.layout_contenido_6 > div.container_1
{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

.layout_contenido_6 > div.container_2
{   
    display: flex;
    flex: 3 0 auto;
    width: 100%;
}

.layout_contenido_6 > div.container_3
{
    display: flex;
    flex: 4 0 auto;
    flex-direction: row;
    width: 100%;
}

.layout_contenido_6 > div.container_3 > div.container_3_1
{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    width: 65%;
}

.layout_contenido_6 > div.container_3 > div.container_3_1 > div.container_3_1_1
{
    display: flex;
    flex: 1 0 auto;
    width: 30%;
}

.layout_contenido_6 > div.container_3 > div.container_3_1 > div.container_3_1_2
{
    display: flex;
    flex: 1 0 auto;
    width: 30%;
}

.layout_contenido_6 > div.container_3 > div.container_3_2
{
    display: flex;
    flex: 1 0 auto;
    width: 30%;
}

@media (max-width: 751px){
    .layout_contenido_6 > div.container_1
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_contenido_6 > div.container_2
    {   
        display: flex;
        flex: 3 0 auto;
        width: 100%;
    }

    .layout_contenido_6 > div.container_3
    {
        display: flex;
        flex: 4 0 auto;
        flex-direction: column;
        width: 100%;
    }

    .layout_contenido_6 > div.container_3 > div.container_3_1
    {
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .layout_contenido_6 > div.container_3 > div.container_3_1 > div.container_3_1_1
    {
        display: flex;
        flex: 1 0 auto;
        width: 50%;
    }

    .layout_contenido_6 > div.container_3 > div.container_3_1 > div.container_3_1_2
    {
        display: flex;
        flex: 1 0 auto;
        width: 50%;
    }

    .layout_contenido_6 > div.container_3 > div.container_3_2
    {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
    }
}

@media (max-width: 551px){
    .layout_contenido_6 > div.container_1
    {
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_contenido_6 > div.container_2
    {   
        flex: 2 0 auto;
        width: 100%;
    }

    .layout_contenido_6 > div.container_3
    {
        display: flex;
        flex: 4 0 auto;
        flex-direction: column;
        width: 100%;
    }

    .layout_contenido_6 > div.container_3 > div.container_3_1
    {
        flex: 2 0 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .layout_contenido_6 > div.container_3 > div.container_3_1 > div.container_3_1_1
    {
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_contenido_6 > div.container_3 > div.container_3_1 > div.container_3_1_2
    {
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_contenido_6 > div.container_3 > div.container_3_2
    {
        flex: 1 0 auto;
        width: 100%;
    }
}

/*----------------------- LAYOUT_CONTENIDO_7 ---------------------------*/
div.layout_contenido_7
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.layout_contenido_7 > div.container_1
{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

.layout_contenido_7 > div.container_2
{   
    display: flex;
    flex: 3 0 auto;
    width: 100%;
}

.layout_contenido_7 > div.container_3
{
    display: flex;
    flex: 4 0 auto;
    flex-direction: row;
    width: 100%;
}

.layout_contenido_7 > div.container_3 > div.container_3_1
{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    width: 65%;
}

.layout_contenido_7 > div.container_3 > div.container_3_1 > div.container_3_1_1
{
    display: flex;
    flex: 1 0 auto;
    width: 30%;
}

.layout_contenido_7 > div.container_3 > div.container_3_1 > div.container_3_1_2
{
    display: flex;
    flex: 1 0 auto;
    width: 30%;
}

.layout_contenido_7 > div.container_3 > div.container_3_2
{
    display: flex;
    flex: 1 0 auto;
    width: 15%;
}

@media (max-width: 751px){
    .layout_contenido_7 > div.container_1
    {
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_contenido_7 > div.container_2
    {   
        flex: 3 0 auto;
        width: 100%;
    }

    .layout_contenido_7 > div.container_3
    {
        display: flex;
        flex: 4 0 auto;
        flex-direction: column;
        width: 100%;
    }

    .layout_contenido_7 > div.container_3 > div.container_3_1
    {
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .layout_contenido_7 > div.container_3 > div.container_3_1 > div.container_3_1_1
    {
        flex: 1 0 auto;
        width: 50%;
    }

    .layout_contenido_7 > div.container_3 > div.container_3_1 > div.container_3_1_2
    {
        flex: 1 0 auto;
        width: 50%;
    }

    .layout_contenido_7 > div.container_3 > div.container_3_2
    {
        flex: 1 0 auto;
        width: 100%;
    }
}

@media (max-width: 551px){
    .layout_contenido_7 > div.container_1
    {
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_contenido_7 > div.container_2
    {   
        flex: 2 0 auto;
        width: 100%;
    }

    .layout_contenido_7 > div.container_3
    {
        display: flex;
        flex: 4 0 auto;
        flex-direction: column;
        width: 100%;
    }

    .layout_contenido_7 > div.container_3 > div.container_3_1
    {
        flex: 2 0 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .layout_contenido_7 > div.container_3 > div.container_3_1 > div.container_3_1_1
    {
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_contenido_7 > div.container_3 > div.container_3_1 > div.container_3_1_2
    {
        flex: 1 0 auto;
        width: 100%;
    }

    .layout_contenido_7 > div.container_3 > div.container_3_2
    {
        flex: 1 0 auto;
        width: 100%;
    }
}

/*----------------------- LAYOUT_ORGANIZADOR_3 ---------------------------*/
.layout_og_3{
    display: flex;
    flex-direction: row;
    flex: 1;
    /*
    width: 100%;
    height: 100%;
    */
}

.layout_og_3 > .c1{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.layout_og_3 > .c2{
    display: flex;
    flex-direction: row;
    flex: 2;
}


@media (max-width: 750px) {  
    .layout_og_3{
        flex-direction: column;
    }

    .layout_og_3 > .c1{
        order: 1 ;
        flex: 0;
    }

    .layout_og_3 > .c2{
        flex: 0;
        margin-left: 30%;
        margin-right: 30%;
        order: 2;
    }
}

@media (max-width: 550px) {  
    .layout_og_3 .c2{
        margin-left: 25%;
        margin-right: 25%;
    }
}
