
/*--------------------------- ORG_ES_NUM -----------------------------------  */

.orgEsfNum {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 30px auto 0 auto;
  max-width: 700px;
  text-align: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
/*btns*/
.orgEsfNum-contBtns {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 140px;
}
/*3 bnts*/
.orgEsfNum-contBtns--3btns .orgEsfNum-col3,
.orgEsfNum-contBtns--3btns .orgEsfNum-col4,
.orgEsfNum-contBtns--3btns .orgEsfNum-col1 .orgEsfNum-btn:last-child {
  display: none;
}
/*4 bnts*/
.orgEsfNum-contBtns--4btns {
  height: 196px;
}
.orgEsfNum-contBtns--4btns .orgEsfNum-col3,
.orgEsfNum-contBtns--4btns .orgEsfNum-col4 {
  display: none;
}
/*5 bnts*/
.orgEsfNum-contBtns--5btns .orgEsfNum-col4,
.orgEsfNum-contBtns--5btns .orgEsfNum-col1 .orgEsfNum-btn:last-child {
  display: none;
}
/*6 bnts*/
.orgEsfNum-contBtns--6btns .orgEsfNum-col1 .orgEsfNum-btn:last-child {
  display: none;
}
/**/
.orgEsfNum-col {
  color: inherit;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.orgEsfNum-col:nth-child(1),
.orgEsfNum-col:nth-child(4) {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.orgEsfNum-col:nth-child(2),
.orgEsfNum-col:nth-child(3) {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.orgEsfNum-col:nth-child(1) {
  margin-right: -20px;
}
.orgEsfNum-col:nth-child(4) {
  margin-left: -20px;
}
.orgEsfNum-btn {
  background-color: #01b3be;
  border: 5px solid #c9eff1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 30px;
  height: 54px;
  line-height: 44px;
  margin: 1px;
  text-align: center;
  transition: all .4s ease-in-out;
  width: 55px;
}
.orgEsfNum-btn.active {
  background-color: #004b5e;
  border-color: #004b5e;
}
.orgEsfNum-btn:not(.active):hover {
  border-color: #01b3be;
 }
/*txts*/
.orgEsfNum-contTxts {
  border: 2px solid #e2ddeb;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #357181;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: auto;
  margin-left: 40px;
  padding: 20px;
  text-align: justify;
}
.orgEsfNum-txt > h3 {
  border-bottom: 2px solid #c9eff1;
  margin-bottom: 30px;
  padding-bottom: 4px;
  text-align: left;
}
.orgEsfNum-txt > p {
  color: #5b606e;
  line-height: 28px;
  padding-left: 12px;
  text-align: justify;
}
/* Extra small devices */
@media screen and (max-width: 767px) {
  .orgEsfNum {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .orgEsfNum-contTxts  {
    margin: 8px;
  }
  .orgEsfNum-contBtns {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: auto;
  }
  .orgEsfNum-col {
    margin: 0 !important;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .orgEsfNum-img {
    margin: 2px;
  }
}

/*Anotaciones:
Aplicando la clase "orgEsfNum-contBtns--3btns" al elemento "orgEsfNum-contBtns"
genera la estructura de 3 esferas.
Para 4, 5, 6 el proceder es similar, solo cambiando el valor del número.
*/


/*--------------------------- ORG_TIT_TXT_IMG ------------------------------  */

.orgTitTxtImg {
  align-items: center;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 30px auto 0;
  max-width: 1024px;
  width: 80%;
}
.orgTitTxtImg-contenMedia {
  width: 500px;
}
.orgTitTxtImg-media {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.75);
  vertical-align: middle;
  width: 100%;
}
.orgTitTxtImg-contenImg {
  width: 100%;
  height: inherit;
  position: relative;
  display: block;
}
.orgTitTxtImg-img {
  width: 100%;
}
.orgTitTxtImg-audio {
  display: none;
}
.orgTitTxtImg-video {
  display: none;
}
.orgTitTxtImg-contenTxt {
  margin-left: 70px;
}
.orgTitTxtImg-txt > h3 {
  border-bottom: 2px solid #357181;
  margin-bottom: 10px;
  padding-bottom: 4px;
  text-align: left;
}
.orgTitTxtImg-txt > p {
  line-height: 26px;
  text-align: justify;
}
/*Media queries*/
@media screen and (max-width: 767px) {
  .orgTitTxtImg  {
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    width: 98%;
  }
  .orgTitTxtImg-contenMedia  {
    margin-bottom: 30px;
    width: 65%;
  }
  .orgTitTxtImg-contenTxt  {
    margin: 0 10px;
  }
  .orgTitTxtImg-txt > h3 {
    border-color: transparent;
  }
}

/*Nota:
Según el elemento que quiera visualizarse (imagen, audio o vídeo),
aplicarle diplay: none o display: block según la intención a:
orgTitTxtImg-contenImg, orgTitTxtImg-audio, orgTitTxtImg-vídeo
*/

.orgTxtImgGrande {
  margin: 10px auto;
  max-width: 1024px;
  display: block;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 4px 4px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 4px 4px 0 rgba(50, 50, 50, 0.75);
  box-shadow:         0px 4px 4px 0 rgba(50, 50, 50, 0.75);
  width: 98%;
}
/*image*/
.orgTxtImgGrande-contenImg {
  display: block;
  height: inherit;
  position: relative;
}
.orgTxtImgGrande-img {
  width: 100%;
}
/*texto*/
.orgTxtImgGrande-contenTxt {
  line-height: 24px;
  padding: 20px 38px;
  text-align: justify;
}
/*Media queries*/
@media screen and (max-width: 767px) {
  .orgTxtImgGrande-contenTxt {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*--------------------------- org_aco ------------------------------  */
/*Contenedor principal*/
.org_aco-contenedor {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  flex: 1;
}
.org_aco-text {
  display: block;
  margin: 20px 20px 60px 20px;
}
/*Acordeón y botones acordeón*/
.org_aco-acordeon {
  /*background-color: #eae9e9;*/
  margin: 0 auto;
  position: relative;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  border: 2px solid rgba(128, 128, 128, 0.55);
  width: 100%;
}
.org_aco-acordeon h1{
    border-bottom: 2px solid #C9EFF1;
    padding: 5px 0;
}
.org_aco-acordeon-contenBtnContainer {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.org_aco-acordeon-btn {
  background-color: #01b3be;
  border-right: 2px solid #c9eff1;
  display: block;
  height: 100%;
  margin: 0 !important;
  position: relative;
  width: 60px;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.org_aco-acordeon-btn-text {
  display: block;
  left: 50%;
  position: relative;
  text-align: center;
  transform: rotate(270deg) translateY(-50%);
  transform-origin: left top 0;
  color: white;
  z-index: 2;
}
/**/
.org_aco-acordeon          { height: 300px; }
.org_aco-acordeon-btn-text { bottom: -300px; width: 300px; font-weight: bold;}
/**/
/*Contenedor de información*/
.org_aco-acordeon-container {
  height: inherit;
  justify-content: center;
  align-items: center;
  -ms-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  overflow: hidden;
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  max-width: 0;
  -moz-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}
.org_aco-acordeon-container-info {
  width: 90%;
  height: auto;
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.org_aco-acordeon-container-info-img {
  width: 300px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #004b5e;
}
.org_aco-acordeon-container-info-text {
  line-height: 22px;
  text-align: justify;
  padding: 0 40px;
}
/*Responsive*/
@media screen and (max-width: 767px) {
  .org_aco-acordeon { 
    display: block;
    height: auto;
  }
  .org_aco-acordeon-contenBtnContainer {
    display: block;
  }
  .org_aco-acordeon-btn {
    width: auto;
    height: auto;
    padding: 20px 0;
    border-bottom: 2px solid #c9eff1;
  }
  .org_aco-acordeon-btn.active {
    background-color: #004b5e;
  }
  .org_aco-acordeon-btn.active + .org_aco-acordeon-container {
    max-height: 100%;
    opacity: 1;
  }
  .org_aco-acordeon-contenBtnContainer.active {
    display: block;
  }

  .org_aco-acordeon-btn-text {
    position: static;
    width: auto; transform: none;
    transform-origin: inherit;
    left: 0; bottom: 0;
  }
  .org_aco-acordeon-container {
    height: inherit;
    max-height: 0;
    opacity: 0;
    display: block;
    max-width: 100%;
  }
  .org_aco-acordeon-container-info {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    max-width: 540px;
    padding: 40px 0;
  }
  .org_aco-acordeon-container-info-img {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .org_aco-acordeon-btn.active {
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  .org_aco-acordeon-btn.active + .org_aco-acordeon-container {
    max-width: 100%; 
    opacity: 1;
  }
  .org_aco-acordeon-contenBtnContainer.active {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}


/*ORGANIZADOR COMPONENTE DE VIDEO*/
#content_container .contenedorVideo {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    margin: 0 auto;
    padding: 4px;
}
#content_container .video {
    width: 100%;
    height: 99%;
    -moz-border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    border-radius: 8px !important;
}
#content_container .vjs-control-bar {
    background-color: #004C5E !important;

}
#content_container .vjs-play-control,
#content_container .vjs-fullscreen-control {
    background-color: #003249 !important;
}
/* ORGANIZADORES DE AUDIO */
/*componente audio*/
.audiojs {
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #023e56;
  margin: 0 auto;
}
/*Aquí los estilos del boton pequeño*/
.btn_audio_pequeno {
  width: 100%;
  height: 100%;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.btn_audio_pequeno .audiojs {
  height: 40px;
  width: 40px;
}
/*Aquí los estilos del boton pequeño*/
.btn_audio_mediano {
  width: 100%;
  height: 100%;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.btn_audio_mediano .audiojs {
  height: 50px;
  width: 50px;
}
/*Aquí los estilos del boton de recuadro*/
.btn_audio_recuadro {
  width: 100%;
  height: 100%;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.btn_audio_recuadro-marco {
  width: 160px;
  height: 160px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 2px solid #023E56;
}
.btn_audio_recuadro .audiojs {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}
/*Contenedor de los botones play y pause*/
.play-pause {
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none;
  float: none;
  margin: 0;
}
/*botón play*/
.audiojs .play {
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url("../../img/audio/audio-detenido.png") !important;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto;
}
/*botón pause*/
.audiojs .pause {
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url("../../img/audio/audio-sonando.png") !important;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto;
}
/*Ocultando partes del cuerpo*/
.scrubber {
  display: none;
}
.time {
  display: none;
}
/*Ocultando otros elementos*/
.audiojs .loading {
  display: none;
}
.audiojs .error {
  display: none;
}

/*Botones*/
.button_noolvideq {
  width: 100%;
  height: 58px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  background: #147290;
  background: -moz-linear-gradient(top,  #147290 0%, #147290 50%, #004c5e 52%, #004c5e 100%);
  background: -webkit-linear-gradient(top,  #147290 0%,#147290 50%,#004c5e 52%,#004c5e 100%);
  background: linear-gradient(to bottom,  #147290 0%,#147290 50%,#004c5e 52%,#004c5e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#147290', endColorstr='#004c5e',GradientType=0 );
  border-radius: 10px;
}
.button_sabiasq {
  width: 100%;
  height: 58px;
  background: #147290;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #147290;
  background: -moz-linear-gradient(top,  #147290 0%, #147290 50%, #004c5e 52%, #004c5e 100%);
  background: -webkit-linear-gradient(top,  #147290 0%,#147290 50%,#004c5e 52%,#004c5e 100%);
  background: linear-gradient(to bottom,  #147290 0%,#147290 50%,#004c5e 52%,#004c5e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#147290', endColorstr='#004c5e',GradientType=0 );
  border-radius: 10px;
}
.button_sabiasq-contenIconText {
  display: inline-block;
}
.button_noolvideq-contenIconText {
  display: inline-block;
}
.button_noolvideq-contenIconText > div {
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}
.button_noolvideq-contenIconText  > div > div {
  width: 100%;
  height: 100%;
}

.button_lineanarrativa {
  width: 100%;
  height: 100%;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.button_lineanarrativa-img {
  width: 126px;
  height: 126px;
  background-image: url('../../img/botonLineaNarrativa.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}

.button_sabiasq-contenIconText > div {
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}
.button_sabiasq-contenIconText > div > div {
  width: 100%;
  height: 100%;
}
.icon_style_retro_noolvideq {
  width: 100%;
  height: 100%;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #1ebebc;
  background: #25a9a5;
  background: -moz-radial-gradient(center, ellipse cover,  #25a9a5 0%, #2aa8a4 49%, #25a9a5 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #25a9a5 0%,#2aa8a4 49%,#25a9a5 100%);
  background: radial-gradient(ellipse at center,  #25a9a5 0%,#2aa8a4 49%,#25a9a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25a9a5', endColorstr='#25a9a5',GradientType=1 );
}
.icon_style_retro_sabiasque {
    width: 50px;
    height: 50px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #5BAAB3;
    background: #25a9a5;
    background: #835ca8;
    background: -moz-radial-gradient(center, ellipse cover,  #835ca8 50%, #65568f 87%, #65568f 87%, #65568f 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #835ca8 50%,#65568f 87%,#65568f 87%,#65568f 100%);
    background: radial-gradient(ellipse at center,  #835ca8 50%,#65568f 87%,#65568f 87%,#65568f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#835ca8', endColorstr='#65568f',GradientType=1 );
}
.button_sabiasq_text {
  font-size: 20px;
  margin-left: 10px;
  vertical-align: middle;
}
.button_noolvideq_text {
  font-size: 20px;
  margin-left: 10px;
  vertical-align: middle;
}
/******************/
/*Popup sabias qué*/
/******************/
.popupSabiasQue-capaOpacidad {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 10;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -moz-pointer-events: auto;
  -webkit-pointer-events: auto;
  pointer-events: auto;
}
.popupSabiasQue-contenedor {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  border: 3px solid #765E9B;
  width: 98%;
  max-width: 800px;
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 10;
}
.popupSabiasQue-title {
  display: block;
  background-color: #765E9B;
  height: 44px;
  font-size: 24px;
  text-indent: 100px;
  color: white;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.popupSabiasQue-title-btnCerrar {
  margin-right: 20px;
  cursor: pointer;
}
.popupSabiasQue-contenido {
  padding: 35px 0;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.popupSabiasQue-contenido-texto {
  margin-left: 40px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  margin: 12px 20px 0 40px;
  text-align: justify;
}
.popupSabiasQue-contenido-imagen {
  width: 37.5%;
  max-width: 200px;
  min-width: 124px;
  height: 210px;
  background-image: url('../../img/sabiasque-persona.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin: 0 10px;
}
.popupSabiasQue-icon {
  width: 96px;
  height: 96px;
  top: 0; left: 0;
  margin-top: -24px;
  margin-left: -24px;
  background-image: url('../../img/sabiasque-icon.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: absolute;
}
@media screen and (max-width: 320px) {
  .popupSabiasQue-contenido-imagen {
    display: none;
  }
  .popupSabiasQue-contenido-texto {
    margin: 0 14px;
  }
}
@media screen and (min-width: 321px) and (max-width: 520px) {
  .popupSabiasQue-contenido-texto {
    margin: 0 0 0 24px;
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
/*********************/
/*Popup No olvide qué*/
/*********************/
.popupNoOlvideQue-capaOpacidad {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 10;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -moz-pointer-events: auto;
  -webkit-pointer-events: auto;
  pointer-events: auto;
}
.popupNoOlvideQue-contenedor {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  border: 3px solid #00A3AA;
  width: 98%;
  max-width: 800px;
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 10;
}
.popupNoOlvideQue-title {
  display: block;
  background-color: #00A3AA;
  height: 44px;
  font-size: 24px;
  text-indent: 100px;
  color: white;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.popupNoOlvideQue-title-btnCerrar {
  margin-right: 20px;
  cursor: pointer;
}
.popupNoOlvideQue-contenido {
  padding: 35px 0;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.popupNoOlvideQue-contenido-texto {
  margin-left: 40px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  margin: 12px 20px 0 40px;
  text-align: justify;
}
.popupNoOlvideQue-contenido-imagen {
  width: 37.5%;
  max-width: 200px;
  min-width: 124px;
  height: 210px;
  background-image: url('../../img/noolvideque-persona.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin: 0 10px;
}
.popupNoOlvideQue-icon {
  width: 86px;
  height: 92px;
  top: 0; left: 0;
  margin-left: -20px;
  margin-top: -20px;
  background-image: url('../../img/noolvideque-icon.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: absolute;
}
@media screen and (max-width: 320px) {
  .popupNoOlvideQue-contenido-imagen {
    display: none;
  }
  .popupNoOlvideQue-contenido-texto {
    margin: 0 14px;
  }
}
@media screen and (min-width: 321px) and (max-width: 520px) {
  .popupNoOlvideQue-contenido-texto {
    margin: 0 0 0 24px;
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
/*********************/
/****Popup Informa****/
/*********************/
.popupInforma-capaOpacidad {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 10;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -moz-pointer-events: auto;
  -webkit-pointer-events: auto;
  pointer-events: auto;
}
.popupInforma-contenedor {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  border: 3px solid #00647C;
  width: 98%;
  max-width: 800px;
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 10;
}
.popupInforma-title {
  display: block;
  background-color: #00647C;
  height: 44px;
  font-size: 24px;
  text-indent: 100px;
  color: white;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.popupInforma-title-btnCerrar {
  margin-right: 20px;
  cursor: pointer;
}
.popupInforma-contenido {
  padding: 35px 0;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.popupInforma-contenido-texto {
  margin-left: 40px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  margin: 12px 20px 0 40px;
  text-align: justify;
}
.popupInforma-contenido-imagen {
  width: 50%;
  max-width: 250px;
  min-width: 124px;
  height: 210px;
  background-image: url('../../img/popupInforma-persona.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin: 0 10px;
}
.popupInforma-icon {
  width: 40px;
  height: 34px;
  margin-left: 10px;
  background-image: url('../../img/popupInforma-icon.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
@media screen and (max-width: 320px) {
  .popupInforma-contenido-imagen {
    display: none;
  }
  .popupInforma-contenido-texto {
    margin: 0 14px;
  }
}
@media screen and (min-width: 321px) and (max-width: 520px) {
  .popupInforma-contenido-texto {
    margin: 0 0 0 24px;
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

