@font-face {
    font-family: 'transferenciaregular';
    src: url('../../../fonts/trans_pro-webfont.eot');
    src: url('../../../fonts/trans_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/trans_pro-webfont.woff2') format('woff2'),
         url('../../../fonts/trans_pro-webfont.woff') format('woff'),
         url('../../../fonts/trans_pro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'SourceSans Pro';
    src:url('../../../fonts/SourceSansPro-Regular.otf');
    font-weight:normal;
    font-style:normal;
}

input[type="button"]
{
	cursor: pointer;
}

html
{
	height: 100%;
	font-size: 16px; /*1rem = 16px*/
}

body
{
	height: 100%;
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: "SourceSans Pro";
}

div.img_rectangular
{   
    display: flex;
    position: relative;
    /*width: 80%;*/
    align-self: center;
    border: solid 2px rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    overflow: hidden;
    margin: 15px auto;
    height: 327px;
    width: 1160px;
}
@media (max-width: 750px){
    div.img_rectangular
    {
        height: 131px;
        width: 467px;
    }
}

div.img_mitad
{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 25%;
    margin-right: 25%;
    overflow: hidden;
}

div.img_full
{
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

div.img_simple_org
{
    display: flex;
    position: relative;
    /*width: 80%;*/
    align-self: center;
    border: solid 2px rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    overflow: hidden;
    margin: 15px auto;
    height: 300px;
    width: 300px;
}

@media (max-width: 750px){
    div.img_simple_org
    {
        height: 100px;
        width: 100px;
    }
}

div.img_rectangular img, div.img_full img, div.img_mitad, div.img_simple_org img
{
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.div.img_full img {
    display: flex;
}
div.img_full .img_full-img {
    display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
}
div.img_container button, div.img_simple_org button
{
    font-family: 'transferenciaregular';
    color: white;
    position: absolute;
    bottom: 2%;
    right: 2%;
    background: #49819f;
    background: -moz-radial-gradient(center, ellipse cover, #49819f 0%, #00435a 85%);
    background: -webkit-radial-gradient(center, ellipse cover, #49819f 0%,#00435a 85%);
    background: radial-gradient(ellipse at center, #49819f 0%,#00435a 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49819f', endColorstr='#00435a',GradientType=1 );
    border-style: solid;
    border-width: 3px;
    border-color: #04BCC8;
    border-radius: 40px;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
}

/* ----- Secci?n del popup ----- */
div.blackout
{
	background-color: black;
	display: none;
	position: fixed;
	opacity: 0.9;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
div.popup
{
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: 100%;
	flex-direction: row;
	align-items: center;
	z-index: 10000000;
}
div.popup img
{
    display: block;
    margin: 45px auto;
    height: 90%;
    width: 90%;
}
div.popup button
{
    font-family: 'transferenciaregular';
    position: absolute;
    color: white;
    right: 10%;
    bottom: 10%;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    background: #49819f;
    background: -moz-radial-gradient(center, ellipse cover, #49819f 0%, #00435a 85%);
    background: -webkit-radial-gradient(center, ellipse cover, #49819f 0%,#00435a 85%);
    background: radial-gradient(ellipse at center, #49819f 0%,#00435a 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49819f', endColorstr='#00435a',GradientType=1 );
    border-style: solid;
    border-width: 3px;
    border-color: #04BCC8;
    border-radius: 40px;
}

div#popup_accesibilidad img{
    height: 80%;
    width: 20%;
}

/*-------------------SECCI?N DEL ORGANIZADOR GR?FICO: T?TULO--------------------------------*/

.transfe_font
{
    font-family: "transferenciaregular"
}

div#content_container div.title_container
{
    /*padding-left:25px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

div#content_container div.title_title_icon
{
	color: white;
	padding: 5px;
	width: 35px;
	font-size: 30px;
	border-radius: 25px;
	height: 35px;
	text-align: center;
	margin-left: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d43209+50,490700+100 */
	background: #d43209; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #d43209 50%, #490700 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #d43209 50%,#490700 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #d43209 50%,#490700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d43209', endColorstr='#490700',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div#content_container div.title_title_text
{
    margin: 0 15px;
    font-size: 2rem;
    color: #407389;
}

div#content_container div.title_subtitle_text
{
    font-size: 1.5rem;
}


/*Estilo del título básico*/
div#content_container div.title_basic
{
    /*padding-left:25px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

div#content_container div.title_basic_title
{
    margin: 0 15px;
    text-align: left;
    font-size: 2rem;
    padding: 1% 0;
    color: #407389;
}

/*Estilo del título básico centrado*/
div#content_container div.title_basic_center
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

div#content_container div.title_basic_center_title
{
    margin: 0 15px;
    font-size: 2rem;
    padding: 1% 0;
    text-align: center;
    color: #407389;
    width: 100%;
}

/*Estilo del título de párrafo con negrilla, subrayado y centrado*/
div#content_container div.title_paragraph_bold_underline_center_text
{
    margin: 0 15px;
    text-decoration: underline;
    color: #407389;
    text-align: center;
    width: 100%;
}


/*a?adido luis*/

div#content_container div.title_container_result
{
    background-color: #0182A2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#content_container div.title_container_result .title_title_text
{
    color: white;
}

/*Organizador gráfico / Componente - Párrafo*/
div#content_container div.text_container
{
    flex:1;
    display:flex;
    flex-direction: column;
    padding-right: 5%;
    align-self: center;
}

div#content_container div.text_container .text_text
{
    padding: 5px 5px 5px 15px;
    line-height: 25px;
    width:100%;
}
/* Párrafo centrado */
div#content_container div.text_container .text_text_center
{
    text-align: center;
    padding: 5px 0;
    width: 100%;
}

/* Párrafo en negrilla */
div#content_container div.text_container .text_text_bold
{
    font-weight: bold;
    padding: 5px 5px 5px 15px;
}

/* Párrafo en negrilla centrado */
div#content_container div.text_container .text_text_bold_center
{
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
}

/* Párrafo en negrilla con color azul */
div#content_container div.text_container .text_text_bold_color
{
    text-align: left;
    font-weight: bold;
    color: #00415B;
    padding: 5px 5px 5px 15px;
}

/* Párrafo en negrilla cursiva */
div#content_container div.text_container .text_text_bold_italic
{
    font-style: italic;
    padding: 5px 5px 5px 15px;
}
/* a?adido luis*/

div#content_container .button_portada
{
	border-style: none;
	color: #014359;
	/* position: absolute; */
	/* margin-top: 15px; */
	/* background: #b3b3b3; */
	

	/*
	right: 0px;
	background: -moz-linear-gradient(top, #b3b3b3 0%, #ffffff 71%);
	background: -webkit-linear-gradient(top, #b3b3b3 0%,#ffffff 71%);
	background: linear-gradient(to bottom, #b3b3b3 0%,#ffffff 71%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#ffffff',GradientType=0 );
	
	height: 45px;
	width: 45%;
	*/
	background-color: transparent;
    width: 260px;
    margin-left: auto;
}
div#content_container .button_portada-icono
{
    float: left;
    margin-right: -10px;
    margin-left: 10px;
    margin-top: 10px;
} 
div#content_container .button_simple
{
    background-color: #0182A2;
    color: #FFF;
    width: 10rem;
    border-radius: 10px; 
    padding: 10px;
    font-size: 1rem;
}

div#content_container .button_portada_text
{
    background-color: white;
    display: block;
    font-size: 1.5rem;
    margin-top: 20px;
    overflow: hidden;
    padding: 4px 28px 4px 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aaaaaa+13,f0f0f0+57,ffffff+100 */
    background: #aaaaaa; /* Old browsers */
    background: -moz-linear-gradient(top,  #aaaaaa 13%, #f0f0f0 57%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #aaaaaa 13%,#f0f0f0 57%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #aaaaaa 13%,#f0f0f0 57%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

/*
div#content_container .button_portada::after
{
	font-family: 'transferenciaregular';
	content: 'b';
	color: white;
	position: absolute;
	box-sizing: content-box;
	top: -0.5rem;
	left: 0;
	border-radius: 5rem;
	-webkit-animation: pulsate 1s ease-in-out alternate infinite;
	animation: pulsate 1s ease-in-out alternate infinite;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: #437678;
	background: 
	
	-moz-radial-gradient(center, ellipse cover, #437678 50%, #142438 100%);
	background: 
	
	-webkit-radial-gradient(center, ellipse cover, #437678 50%,#142438 100%);
	background: radial-gradient(ellipse at center, #437678 50%,#142438 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#437678', endColorstr='#142438',GradientType=1 );
	padding: 0.5rem;
	font-size: 3rem;
	border: solid 4px #5dbdc4;
	position: absolute;
	left: -50px;
	top: -10px;
}*/

.icon_style_sensibilizacion_apertura
{
    color: white;
    font-size: 3rem;
    padding: 10px;
    border-radius: 40px;
    background: #04777a;
    background: -moz-radial-gradient(center, ellipse cover,  #04777a 50%, #011f37 70%);
    background: -webkit-radial-gradient(center, ellipse cover,  #04777a 50%,#011f37 70%);
    background: radial-gradient(ellipse at center,  #04777a 50%,#011f37 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04777a', endColorstr='#011f37',GradientType=1 );
}