/*Modals*/
.popup {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 10;
    /*-moz-pointer-events: none;
    -webkit-pointer-events: none;
    pointer-events: none;*/
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.popup.activado {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}
.popup-contenedor {
    height: 400px;
    position: relative;
    width: 80%;
    height: 80%;
    max-width: 900px;
    max-height: 600px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
/*Header popup*/
.popup-header {
    height: 65px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    background-color: #005F7B;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    background: #207f9b;
    background: -moz-linear-gradient(top,  #207f9b 1%, #005f7b 100%);
    background: -webkit-linear-gradient(top,  #207f9b 1%,#005f7b 100%);
    background: linear-gradient(to bottom,  #207f9b 1%,#005f7b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207f9b', endColorstr='#005f7b',GradientType=0 );
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 15px 15px 0 0;
}
.popup-icono {
    width: 40px;
    height: 75%;
    -ms-flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    margin-left: 20px;
    color: #ffffff;
    font-size: 3rem;
}
.popup-titulo {
    color: white;
    font-size: 30px;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
}
.popup-btnCerrar {
    color: white;
    width: 16px;
    height: 25%;
    -ms-flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    margin-right: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5247+0,a1161a+100 */
    background: #ff5247; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ff5247 0%, #a1161a 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ff5247 0%,#a1161a 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ff5247 0%,#a1161a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5247', endColorstr='#a1161a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    cursor: pointer;
    font-size: 1rem;
    border-radius: 30px;
    padding: 5px;
    border-style: solid;
    border-color: #ff5247;
    border-width: 2px;
}
/*contenido popup*/
.popup-contenido {
    background-color: white;
    overflow: auto;
    padding: 25px 10px;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 15px 15px;
    border-left: 4px solid #005f7b;
    border-right: 4px solid #005f7b;
    border-bottom: 4px solid #005f7b;
}

.popup-contenido
{
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    max-height: 80%;
    padding-left:5%;
}

/*Ayuda*/
div#popup_ayuda > div.popup-contenido ul li:nth-child(1)
{
    margin:10px 0;
    display:flex;
    flex-direction:row;
}

div#popup_ayuda > div.popup-contenido ul li
{
    margin:30px 0;
    display:flex;
    flex-direction:row;
}
div#popup_ayuda > div.popup-contenido ul li p
{
    align-self:center;
    text-align: left;
    width: 100%;
	margin-right:5%;
}
div#popup_ayuda > div.popup-contenido ul li div:nth-child(1)
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}
div#popup_ayuda > div.popup-contenido ul li div:nth-child(2)
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
}
div#popup_ayuda > .popup-contenido .icon_help
{
    font-size:2rem;
    padding:8px;
}
#popup_ayuda > .popup-contenido .color_txthelp
{
    font-size:3rem;
    color:#00415B;
    margin: 0 8px;
}

#popup_ayuda > .popup-contenido li:nth-child(13)
{
    margin: 20px 0;
}

#popup_ayuda > .popup-contenido li:nth-child(13) img
{
    width: 45px;
    height:86%;
    margin: 0 5px;
}
#popup_ayuda > .popup-contenido li:nth-child(14) img
{
    height:22px;
    width:218px;
    margin: 0;		
}
#popup_ayuda > .popup-contenido li:nth-child(15) img
{
    height:31px;
    width:219px;
    margin: 0;	
}
#popup_ayuda > .popup-contenido li:nth-child(16) img
{
    height:22px;
    width:94px;
    margin:0;		
}

/*Créditos*/
#popup_creditos > .popup-contenido
{
    
}

/*Información*/
div#popup_informacion > .popup-contenido
{
    overflow: hidden;
    display: flex;
}
div#popup_informacion > .popup-contenido > p
{
    text-align: center;
    font-weight: bold;
    align-self: center;
    width: 100%;
}

#popup_creditos > .popup-contenido > .creditos-texto
{
    text-align: center;
    height: 100%;
}

/*Accesibilidad*/
div#popup_accesibilidad > .popup-contenido
{
    display: flex;
}

div#popup_accesibilidad > .popup-contenido > div
{
    align-self: center;
    display: flex;
    flex-direction: column;
    width:100%;
}

div#popup_accesibilidad > .popup-contenido > div > h1
{
    color: #00415B;
    font-size: 2rem;
    text-align: center;
}

div#popup_accesibilidad > .popup-contenido > div > p
{
    text-align: center;
    margin: 15px 0;
    width: 100%;
}

div#popup_accesibilidad > .popup-contenido > div a > img
{
    margin: 0 auto;
    height: 80px;
    width: 65px;
}

/*PDF*/
div#popup_PDF > .popup-contenido
{
    display: flex;
}

div#popup_PDF > .popup-contenido > div
{
    align-self: center;
    display: flex;
    flex-direction: column;
    width:100%;
}

div#popup_PDF > .popup-contenido > div > h1
{
    color: #00415B;
    font-size: 2rem;
    text-align: center;
}

div#popup_PDF > .popup-contenido > div > p
{
    text-align: center;
    margin: 15px 0;
    width: 100%;
}

div#popup_PDF > .popup-contenido > div a
{
    color: yellow;
    background-color: rgb(0, 73, 102);
    font-size: 3rem;
    padding: 15px;
    border-radius: 80px;
    text-align: center;
    width: 63px;
    align-self: center;
}

/*Mapa conceptual*/
div#popup_mapa_conceptual > .popup-contenido
{
    display: flex;
}

div#popup_mapa_conceptual > .popup-contenido > div
{
    align-self: center;
    display: flex;
    flex-direction: column;
    width:100%;
}

div#popup_mapa_conceptual > .popup-contenido > div > h1
{
    color: #00415B;
    font-size: 2rem;
    text-align: center;
}

div#popup_mapa_conceptual > .popup-contenido > div > p
{
    text-align: center;
    margin: 15px 0;
    width: 100%;
}

div#popup_mapa_conceptual > .popup-contenido > div a
{
    color: yellow;
    background-color: rgb(0, 73, 102);
    font-size: 3rem;
    padding: 15px;
    border-radius: 80px;
    text-align: center;
    width: 63px;
    align-self: center;
}

/*popup de tabla de contenido*/
div#popup_tabla_de_contenido > div.popup-contenido > ul li
{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

div#popup_tabla_de_contenido > div.popup-contenido > ul > li:nth-child(5) ul
{
    list-style: inside;
    list-style-type: disc;
    margin-left: 50px;
    width: 100%;
}

div#popup_tabla_de_contenido > div.popup-contenido > ul > li:nth-child(5) ul li
{
    list-style-type: disc;
    display: list-item;
}

div#popup_tabla_de_contenido > div.popup-contenido > ul > li:nth-child(5) ul li span
{
    font-size: 1.2rem;
}

div#popup_tabla_de_contenido > div.popup-contenido > ul li span
{
    font-size: 2rem;
}

div#popup_tabla_de_contenido > div.popup-contenido > ul li p
{
    align-self: center;
    padding-left: 15px;
}

div#popup_tabla_de_contenido > div.pop-contenido ol
{
    padding-left:15%;
    margin: 25px 0;
    list-style: number;
    font-weight: bold;
}

div#popup_tabla_de_contenido > div.pop-contenido ol li
{
    color: #002D39;
    margin: 5px 0;
}

div#popup_tabla_de_contenido > div.pop-contenido h3
{
    color: #002D39;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

/*Bibliografía*/
div#popup_bibliografia > div.popup-contenido .bibliografia-item
{
    margin: 0 30px;
}

div#popup_bibliografia > div.popup-contenido .bibliografia-item:nth-child(1)
{
    margin-top: 15px;
}

/*Glosario*/
div#popup_glosario > div.popup-contenido .glosario-item
{
    margin: 0 30px;
}

div#popup_glosario > div.popup-contenido .glosario-item:nth-child(1)
{
    margin-top: 15px;
}