/*Modals*/
.popup {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 10;
    /*-moz-pointer-events: none;
    -webkit-pointer-events: none;
    pointer-events: none;*/
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.popup.activado {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}
.popup-contenedor {
    height: 400px;
    position: relative;
    width: 80%;
    height: 80%;
    max-width: 900px;
    max-height: 600px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
/*Header popup*/
.popup-header {
    height: 65px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    background-color: #005F7B;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    background: #207f9b;
    background: -moz-linear-gradient(top,  #207f9b 1%, #005f7b 100%);
    background: -webkit-linear-gradient(top,  #207f9b 1%,#005f7b 100%);
    background: linear-gradient(to bottom,  #207f9b 1%,#005f7b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207f9b', endColorstr='#005f7b',GradientType=0 );
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 15px 15px 0 0;
}
.popup-icono {
    width: 40px;
    height: 75%;
    -ms-flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    margin-left: 20px;
    color: #ffffff;
    font-size: 3rem;
}
.popup-titulo {
    color: white;
    font-size: 30px;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
}
.popup-btnCerrar {
    color: white;
    width: 16px;
    height: 25%;
    -ms-flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    margin-right: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5247+0,a1161a+100 */
    background: #ff5247; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ff5247 0%, #a1161a 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ff5247 0%,#a1161a 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ff5247 0%,#a1161a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5247', endColorstr='#a1161a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    cursor: pointer;
    font-size: 1rem;
    border-radius: 30px;
    padding: 5px;
    border-style: solid;
    border-color: #ff5247;
    border-width: 2px;
}
/*contenido popup*/
.popup-contenido {
    background-color: white;
    overflow: auto;
    padding: 20px 10px;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 15px 15px;
    border-left: 4px solid #005f7b;
    border-right: 4px solid #005f7b;
    border-bottom: 4px solid #005f7b;
}

.popup-contenido
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
}

/*Ayuda*/
#popup_ayuda > .popup-contenido
{
    overflow: scroll;
    height: 80%;
}

/*Créditos*/
#popup_creditos > .popup-contenido
{
    height: 80%;
}

#popup_creditos > .popup-contenido > .creditos-texto
{
    text-align: center;
    height: 100%;
}

/*Mapa conceptual*/
.popup-contenido > .mapa-texto1, .mapa-texto2
{
    text-align: center;
}

.popup-contenido > .mapa-imagen
{
    text-align: center;
    margin: 60px 0;
}

.popup-contenido > .mapa-imagen a
{
    color: yellow;
    background-color: rgb(0, 73, 102);
    font-size: 3rem;
    padding: 15px;
    border-radius: 80px;
}

/*popup de tabla de contenido*/
div#popup_tabla_de_contenido > div.pop-contenido h3 span
{
    font-size: 1rem;
    margin-right: 15px;
    padding: 10px;
}

div#popup_tabla_de_contenido > div.pop-contenido ol
{
    padding-left:15%;
    margin: 25px 0;
    list-style: number;
    font-weight: bold;
}

div#popup_tabla_de_contenido > div.pop-contenido ol li
{
    color: #002D39;
    margin: 5px 0;
}

div#popup_tabla_de_contenido > div.pop-contenido h3
{
    color: #002D39;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0;
}