<div class="layout_actividad_contenido_1">
    <div class="container_1" pt-panel="1">

    </div>
    <div class="container_2" pt-panel="2">
                
    </div>
    <div class="container_3">
        <div class="container_3_1" pt-panel="3">
                    
        </div>
        <div class="container_3_2">
            <div class="container_3_2_1" pt-panel="4">
                        
            </div>
            <div class="container_3_2_2" pt-panel="5">
                        
            </div>
        </div>
    </div>
</div>       