/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/11/2015, 09:51:57 AM
    Author     : ltoscano
*/

/*----------------------- LAYOUT_CONTEXTUALIZACION ---------------------------*/

[pt-constructor]{
    display:flex;
    flex: 1;
}

.dummy_layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow: auto;
}

.dummy_layout .c1{
    flex-grow: 1;
    width: 100%;
}

.dummy_layout .contenedor_1{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 10;
    width: 100%;
}

.dummy_layout .contenedor_1 .c2{
    flex: 1 0 30%;
}

.dummy_layout .contenedor_1 .c3{
    flex: 3 0 70%;
}

@media (max-width: 600px) { 
    .dummy_layout .contenedor_1{
        flex-direction: column;
    }
}

/*----------------------- LAYOUT_1 ---------------------------*/

.layout_1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex: 1;
}

.layout_1 .c1{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 2;
}

.layout_1 .c2{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}


@media (max-width: 750px) {  
    .layout_1{
        flex-direction: column;
    }

    .layout_1 .c1{
        order: 2 ;
        flex: 0;
    }

    .layout_1 .c2{
        flex: 0;
        margin-left: 30%;
        margin-right: 30%;
        order: 1;
    }
}

@media (max-width: 550px) {  
    .layout_1 .c2{
        margin-left: 25%;
        margin-right: 25%;
    }
}

/*----------------------- LAYOUT_2 ---------------------------*/

.layout_2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.layout_2 .c1{
    flex: 1 0 auto;
}

.layout_2 .c2{
    flex: 9 0 auto;
}

/*----------------------- LAYOUT_3 ---------------------------*/

.layout_3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.layout_3 .contenedor_1{
    flex: 5 0 auto;
    display: flex;
    flex-direction: row;
}

.layout_3 .c1{
    flex: 1 0 auto;
}

.layout_3 .c2{
    flex: 4 0 auto;
}

.layout_3 .c3{
    flex: 1;
}

.layout_3 .c4{
    flex: 1;
}

@media (max-width: 550px) {  
    .layout_3 .contenedor_1{
        flex-direction: column;
    }
    
    .layout_3 .c3{
        flex: 1 0 auto;
    }
    
    .layout_3 .c4{
        flex: 1 0 auto;
    }
}

/*----------------------- LAYOUT_4 ---------------------------*/

.layout_4{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.layout_4 .contenedor_1{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.layout_4 .c1{
    flex: 1 0 auto;
}

.layout_4 .c2{
    flex: 3;
}

.layout_4 .c3{
    flex: 1;
}

@media (max-width: 550px) {  
    .layout_4 .contenedor_1{
        flex-direction: column;
    }
    
    .layout_4 .c2{
        flex: 1 0 auto;
    }
    
    .layout_4 .c3{
        flex: 1 0 auto;
    }
}

/*----------------------- LAYOUT_5 ---------------------------*/

.layout_5{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.layout_5 .contenedor_1{
    flex: 1;
}