/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/11/2015, 09:51:57 AM
    Author     : ltoscano
*/

/*---------------------------- PARA BORRAR ---------------------------------*/

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.c1{
    background-color: orange;
    min-height: 10%;
}

.c2{
    background-color: gold;
    min-height: 10%;
}

.c3{
    background-color: greenyellow;
    min-height: 10%;
}

.c4{
    background-color: cornflowerblue;
    min-height: 10%;
}
/*---------------------------- DUMMY LAYOUT ---------------------------------*/

.dummy_layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.dummy_layout .c1{
    min-height: 10%;
    width: 100%;
}

.dummy_layout .contenedor_1{
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.dummy_layout .contenedor_1 div{
    width: 50%;
}

@media (max-width: 600px) { 

.dummy_layout .contenedor_1{
   flex-direction: column;
}

.dummy_layout .contenedor_1 div{
    width: 100%;
}
}

/*----------------------- LAYOUT_CONTEXTUALIZACION ---------------------------*/

.layout_contextualizacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.layout_contextualizacion .c1{
    min-height: 10%;
    width: 100%;
}

.layout_contextualizacion .contenedor_1{
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.layout_contextualizacion .contenedor_1 .c2{
    flex-grow: 1;
}

.layout_contextualizacion .contenedor_1 .c3{
    flex-grow: 2;
}

@media (max-width: 600px) { 

.layout_contextualizacion .contenedor_1{
   flex-direction: column;
}

.layout_contextualizacion .contenedor_1 div{
    width: 100%;
}
}

/*----------------------- LAYOUT_SENSIBILIZACION ---------------------------*/

.layout_sensibilizacion{
    width: 100%;
    height: 100%;
}

.layout_sensibilizacion .c1{
    width: 100%;
    height: 100%;
}

/*----------------------- LAYOUT_PORTADA ---------------------------*/

.layout_portada{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.layout_portada .c1{
    min-height: 60%;
}

.layout_portada .contenedor_1{
    min-height: 40%;
    display: flex;
    flex-direction: row;
}

.layout_portada .contenedor_1 div{
    flex-grow: 1;
}

/*----------------------- LAYOUT_1 ---------------------------*/

.layout_1{
    width: 100%;
    height: 100%;
}

.layout_1 .c1{
    width: 100%;
    min-height: 10%;
}

.layout_1 .c2{
    width: 100%;
    min-height: 20%;
}

.layout_1 .c3{
    width: 100%;
}